.breadcrumb {
  padding: 4px 6px;
  border-radius: var(--radiusSm);
  cursor: pointer;
  line-height: 1em;
  transition: background-color 150ms;
  outline: none;
  display: flex;
  align-items: center;
}

.breadcrumb:hover {
  background-color: var(--bgNeutralHover);
}

.breadcrumb:active {
  background-color: var(--bgNeutralActive);
}

.breadcrumb:focus-visible {
  outline: 2px solid var(--borderPrimaryHover);
}
