.menu {
  border: 1px solid var(--panel-border-color);
  background-color: var(--el2Background);
  box-shadow: var(--popup-box-shadow);
  border-radius: 6px;
  padding: 0.5rem 0;

  animation-name: fadeIn;
  animation-duration: var(--adFade);
  animation-timing-function: var(--atfFade);
  transform-origin: var(--transform-origin);

  transition:
    transform 150ms,
    opacity 150ms;

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: scale(0.9);
  }
}
