.space-edit-mode {
  display: flex;
  height: 100%;
  gap: var(--space-2);

  .space-edit-mode-left-panel {
    width: 300px;
  }

  .space-edit-mode-right-panel {
    width: 300px;
  }

  .space-edit-mode-surface {
    flex: 1;
    min-width: 0;

    .space-edit-mode-content {
      flex: 1;
      min-height: 0;
    }
  }
}
