.space-view {
  height: 100%;

  .space-view-panel {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.space-view-not-found {
  display: flex;
  align-items: center;
  justify-content: center;
}
