.document-content-toolbar-item {
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: var(--radiusMd);
  color: var(--textNeutralLight);

  &:hover {
    background-color: var(--neutral8);
    color: var(--textNeutral);
  }
  &:active {
    background-color: var(--neutral7);
  }

  &.toggled {
    color: var(--blue9);
  }
}

.document-content-toolbar-item-tooltip {
  max-width: 300px;
}
