.container {
  padding: 0 2rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 236px;
  flex: 1;
}

.footer {
  flex: 1;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  padding: 30px 48px;
}

.headerLeft {
  flex: 1;
  display: flex;
  align-items: center;
}

.logo {
  width: 46px;
  height: 46px;
}

.minddrop {
  margin-left: 10px;
  font-size: 24px;
  font-weight: var(--fwMedium);
}

.heading {
  padding: 84px 0;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 16px;
}

.title {
  font-size: 48px;
  font-weight: var(--fwBold);
  letter-spacing: 0.03rem;
}

.subtitle {
  color: var(--textNeutralLight);
  font-weight: var(--fwRegular);
  max-width: 620px;
  font-size: 24px;
}

.subtext {
  color: var(--textNeutralDisabled);
}

.carouselControls {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  column-gap: 8px;
}

.screenshot {
  max-width: 1024px;
}

.section {
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.sectionTitle {
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: var(--fwRegular);
}

.sectionSubtitle {
  font-size: 18px;
  color: var(--textNeutralLight);
  margin-bottom: 10px;
  max-width: 620px;
}

.drops {
  margin-top: 20px;
  max-width: 1024px;
}

.organizationFeatures {
  display: flex;
  column-gap: 70px;
  justify-content: center;
}

.organizationFeature {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  align-items: center;
  padding-top: 20px;
  width: 260px;
}

.organizationFeatureTitle {
  color: var(--textPrimaryLight);
  font-weight: var(--fwMedium);
}

.organizationFeatureText {
  font-size: 16px;
  color: var(--textNeutralLight);
  text-align: center;
}

.organizationFeatureImage {
  max-width: 250px;
}

.organizationFeatureImageCutoff {
  height: 2px;
  background-color: var(--neutral6);
  width: 100%;
}

.featureList {
  padding: 42px 0;
  display: flex;
  justify-content: space-between;
  width: 880px;
}

.feature {
  width: 248px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featureImage {
  height: 80px;
  width: 80px;
  margin-bottom: 20px;
}

.featureTitle {
  font-size: 20px;
  font-weight: var(--fwSemibold);
  margin-bottom: 8px;
}

.featureText {
  font-size: 14px;
  line-height: 1.4;
  font-weight: 300;
}

.extensionImage {
  margin-top: 20px;
  max-width: 800px;
}

.pricingCards {
  display: flex;
  justify-content: space-between;
  min-width: 900;
  max-width: 1024;
  padding-top: 24px;
}

.pricingCard {
  border: 1px solid var(--neutral6);
  border-radius: 6px;
  padding: 36px 16px;
  margin: 0 24px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  width: 300px;
}

.pricingCardTitle {
  font-weight: var(--fwBold);
  font-size: 36px;
  text-align: center;
}

.pricingCardPrice {
  display: flex;
  align-items: baseline;
  justify-content: center;
  column-gap: 8px;
}

.pricingCardPriceNumber {
  font-weight: var(--fwSemibold);
  font-size: 36px;
}

.pricingCardPricePeriod {
  font-size: 16px;
  font-weight: var(--fwRegular);
}

.pricingCardFeatureList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pricingCardFeature {
  display: flex;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: var(--fwRegular);
}

.pricingCardFeatureIcon {
  margin-right: 8px;
  width: 16px;
  height: 16px;
}

.pricingCardComingSoon {
  margin-top: 8px;
  font-size: var(--fsSmall);
  color: var(--textNeutralLight);
  font-weight: var(--fwMedium);
}

.pricingText {
  font-size: 16px;
  color: var(--textNeutralLight);
  max-width: 540px;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 16px;
}

@media only screen and (max-width: 768px) {
  .hiddenMobile {
    display: none !important;
  }

  .container {
    padding: 0 8px;
  }

  .header {
    padding: 16px 8px 0 0;
  }

  .heading {
    padding: 46px 0 0 0;
  }

  .logo {
    width: 26px;
    height: 26px;
  }

  .minddrop {
    font-size: 20px;
  }

  .title {
    font-size: 28px;
    max-width: 80vw;
  }

  .subtitle {
    font-size: 16px;
    max-width: 90vw;
  }

  .subtext {
    font-size: 14px;
    max-width: 90vw;
  }

  .section {
    margin-top: 80px;
  }

  .sectionTitle {
    font-size: 24px;
  }

  .sectionSubtitle {
    font-size: 14px;
    max-width: 90vw;
  }

  .organizationFeatures {
    column-gap: 0;
    row-gap: 24px;
    flex-direction: column;
  }

  .featureList {
    flex-direction: column;
    width: 100%;
    padding-top: 16px;
    column-gap: 0;
    row-gap: 32px;
    padding-bottom: 16px;
  }

  .featureImage {
    width: 55px;
    height: 55px;
    margin-bottom: 8px;
  }

  .pricingCards {
    flex-direction: column;
    row-gap: 32px;
  }

  .pricingText {
    font-size: 14px;
    max-width: 90vw;
  }
}
