.design-studio-left-panel-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  .panel-tabs {
    display: flex;
    align-items: center;
    gap: var(--space-1);
    padding: var(--space-2);
    border-bottom: 1px solid var(--border-subtle);
  }

  .tabs-panel {
    flex: 1;
    overflow: hidden;
  }

  .designs-list {
    padding: var(--space-2) var(--space-2) var(--space-7);
  }

}
