{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 80,
  "bracketSpacing": true,
  "overrides": [
    {
      "files": "*.mdx",
      "options": {
        "printWidth": 70
      }
    },
    {
      "files": "data/**/*.mdx",
      "options": {
        "printWidth": 80
      }
    }
  ]
}
