/* Flex */
.flex-1 {
  flex: 1;
}

/* Border */
.bd-subtle {
  border: 1px solid var(--borderNeutralSubtle);
}

/* Margin */
.m-xs {
  margin: var(--spacing-xs);
}
.m-sm {
  margin: var(--spacing-sm);
}
.m-md {
  margin: var(--spacing-md);
}
.m-lg {
  margin: var(--spacing-lg);
}
.m-xl {
  margin: var(--spacing-xl);
}

.my-xs {
  margin-block: var(--spacing-xs);
}
.my-sm {
  margin-block: var(--spacing-sm);
}
.my-md {
  margin-block: var(--spacing-md);
}
.my-lg {
  margin-block: var(--spacing-lg);
}
.my-xl {
  margin-block: var(--spacing-xl);
}

.mx-xs {
  margin-inline: var(--spacing-xs);
}
.mx-sm {
  margin-inline: var(--spacing-sm);
}
.mx-md {
  margin-inline: var(--spacing-md);
}
.mx-lg {
  margin-inline: var(--spacing-lg);
}
.mx-xl {
  margin-inline: var(--spacing-xl);
}

.mt-xs {
  margin-top: var(--spacing-xs);
}
.mt-sm {
  margin-top: var(--spacing-sm);
}
.mt-md {
  margin-top: var(--spacing-md);
}
.mt-lg {
  margin-top: var(--spacing-lg);
}
.mt-xl {
  margin-top: var(--spacing-xl);
}

.mb-xs {
  margin-bottom: var(--spacing-xs);
}
.mb-sm {
  margin-bottom: var(--spacing-sm);
}
.mb-md {
  margin-bottom: var(--spacing-md);
}
.mb-lg {
  margin-bottom: var(--spacing-lg);
}
.mb-xl {
  margin-bottom: var(--spacing-xl);
}

.ms-xs {
  margin-inline-start: var(--spacing-xs);
}
.ms-sm {
  margin-inline-start: var(--spacing-sm);
}
.ms-md {
  margin-inline-start: var(--spacing-md);
}
.ms-lg {
  margin-inline-start: var(--spacing-lg);
}
.ms-xl {
  margin-inline-start: var(--spacing-xl);
}

.me-xs {
  margin-inline-end: var(--spacing-xs);
}
.me-sm {
  margin-inline-end: var(--spacing-sm);
}
.me-md {
  margin-inline-end: var(--spacing-md);
}
.me-lg {
  margin-inline-end: var(--spacing-lg);
}
.me-xl {
  margin-inline-end: var(--spacing-xl);
}

/* Padding */
.p-xs {
  padding: var(--spacing-xs);
}
.p-sm {
  padding: var(--spacing-sm);
}
.p-md {
  padding: var(--spacing-md);
}
.p-lg {
  padding: var(--spacing-lg);
}
.p-xl {
  padding: var(--spacing-xl);
}

.py-xs {
  padding-block: var(--spacing-xs);
}
.py-sm {
  padding-block: var(--spacing-sm);
}
.py-md {
  padding-block: var(--spacing-md);
}
.py-lg {
  padding-block: var(--spacing-lg);
}
.py-xl {
  padding-block: var(--spacing-xl);
}

.px-xs {
  padding-inline: var(--spacing-xs);
}
.px-sm {
  padding-inline: var(--spacing-sm);
}
.px-md {
  padding-inline: var(--spacing-md);
}
.px-lg {
  padding-inline: var(--spacing-lg);
}
.px-xl {
  padding-inline: var(--spacing-xl);
}

.pt-xs {
  padding-top: var(--spacing-xs);
}
.pt-sm {
  padding-top: var(--spacing-sm);
}
.pt-md {
  padding-top: var(--spacing-md);
}
.pt-lg {
  padding-top: var(--spacing-lg);
}
.pt-xl {
  padding-top: var(--spacing-xl);
}

.pb-xs {
  padding-bottom: var(--spacing-xs);
}
.pb-sm {
  padding-bottom: var(--spacing-sm);
}
.pb-md {
  padding-bottom: var(--spacing-md);
}
.pb-lg {
  padding-bottom: var(--spacing-lg);
}
.pb-xl {
  padding-bottom: var(--spacing-xl);
}

.ps-xs {
  padding-inline-start: var(--spacing-xs);
}
.ps-sm {
  padding-inline-start: var(--spacing-sm);
}
.ps-md {
  padding-inline-start: var(--spacing-md);
}
.ps-lg {
  padding-inline-start: var(--spacing-lg);
}
.ps-xl {
  padding-inline-start: var(--spacing-xl);
}

.pe-xs {
  padding-inline-end: var(--spacing-xs);
}
.pe-sm {
  padding-inline-end: var(--spacing-sm);
}
.pe-md {
  padding-inline-end: var(--spacing-md);
}
.pe-lg {
  padding-inline-end: var(--spacing-lg);
}
.pe-xl {
  padding-inline-end: var(--spacing-xl);
}

/* Border Radius */
.br-xs {
  border-radius: var(--radius-xs);
}
.br-sm {
  border-radius: var(--radius-sm);
}
.br-md {
  border-radius: var(--radius-md);
}
.br-lg {
  border-radius: var(--radius-lg);
}
.br-xl {
  border-radius: var(--radius-xl);
}

.btlr-xs {
  border-top-left-radius: var(--radius-xs);
}
.btrr-xs {
  border-top-right-radius: var(--radius-xs);
}
.bblr-xs {
  border-bottom-left-radius: var(--radius-xs);
}
.bbrr-xs {
  border-bottom-right-radius: var(--radius-xs);
}

.btlr-sm {
  border-top-left-radius: var(--radius-sm);
}
.btrr-sm {
  border-top-right-radius: var(--radius-sm);
}
.bblr-sm {
  border-bottom-left-radius: var(--radius-sm);
}
.bbrr-sm {
  border-bottom-right-radius: var(--radius-sm);
}

.btlr-md {
  border-top-left-radius: var(--radius-md);
}
.btrr-md {
  border-top-right-radius: var(--radius-md);
}
.bblr-md {
  border-bottom-left-radius: var(--radius-md);
}
.bbrr-md {
  border-bottom-right-radius: var(--radius-md);
}

.btlr-lg {
  border-top-left-radius: var(--radius-lg);
}
.btrr-lg {
  border-top-right-radius: var(--radius-lg);
}
.bblr-lg {
  border-bottom-left-radius: var(--radius-lg);
}
.bbrr-lg {
  border-bottom-right-radius: var(--radius-lg);
}

.btlr-xl {
  border-top-left-radius: var(--radius-xl);
}
.btrr-xl {
  border-top-right-radius: var(--radius-xl);
}
.bblr-xl {
  border-bottom-left-radius: var(--radius-xl);
}
.bbrr-xl {
  border-bottom-right-radius: var(--radius-xl);
}

/* Background color */
.bg-blue-1 {
  background-color: var(--blue-1);
}
.bg-blue-2 {
  background-color: var(--blue-2);
}
.bg-blue-3 {
  background-color: var(--blue-3);
}
.bg-blue-4 {
  background-color: var(--blue-4);
}
.bg-blue-5 {
  background-color: var(--blue-5);
}
.bg-blue-6 {
  background-color: var(--blue-6);
}
.bg-blue-7 {
  background-color: var(--blue-7);
}
.bg-blue-8 {
  background-color: var(--blue-8);
}
.bg-blue-9 {
  background-color: var(--blue-9);
}
.bg-blue-10 {
  background-color: var(--blue-10);
}
.bg-blue-11 {
  background-color: var(--blue-11);
}
.bg-blue-12 {
  background-color: var(--blue-12);
}

.bg-cyan-1 {
  background-color: var(--cyan-1);
}
.bg-cyan-2 {
  background-color: var(--cyan-2);
}
.bg-cyan-3 {
  background-color: var(--cyan-3);
}
.bg-cyan-4 {
  background-color: var(--cyan-4);
}
.bg-cyan-5 {
  background-color: var(--cyan-5);
}
.bg-cyan-6 {
  background-color: var(--cyan-6);
}
.bg-cyan-7 {
  background-color: var(--cyan-7);
}
.bg-cyan-8 {
  background-color: var(--cyan-8);
}
.bg-cyan-9 {
  background-color: var(--cyan-9);
}
.bg-cyan-10 {
  background-color: var(--cyan-10);
}
.bg-cyan-11 {
  background-color: var(--cyan-11);
}
.bg-cyan-12 {
  background-color: var(--cyan-12);
}

.bg-red-1 {
  background-color: var(--red-1);
}
.bg-red-2 {
  background-color: var(--red-2);
}
.bg-red-3 {
  background-color: var(--red-3);
}
.bg-red-4 {
  background-color: var(--red-4);
}
.bg-red-5 {
  background-color: var(--red-5);
}
.bg-red-6 {
  background-color: var(--red-6);
}
.bg-red-7 {
  background-color: var(--red-7);
}
.bg-red-8 {
  background-color: var(--red-8);
}
.bg-red-9 {
  background-color: var(--red-9);
}
.bg-red-10 {
  background-color: var(--red-10);
}
.bg-red-11 {
  background-color: var(--red-11);
}
.bg-red-12 {
  background-color: var(--red-12);
}

.bg-pink-1 {
  background-color: var(--pink-1);
}
.bg-pink-2 {
  background-color: var(--pink-2);
}
.bg-pink-3 {
  background-color: var(--pink-3);
}
.bg-pink-4 {
  background-color: var(--pink-4);
}
.bg-pink-5 {
  background-color: var(--pink-5);
}
.bg-pink-6 {
  background-color: var(--pink-6);
}
.bg-pink-7 {
  background-color: var(--pink-7);
}
.bg-pink-8 {
  background-color: var(--pink-8);
}
.bg-pink-9 {
  background-color: var(--pink-9);
}
.bg-pink-10 {
  background-color: var(--pink-10);
}
.bg-pink-11 {
  background-color: var(--pink-11);
}
.bg-pink-12 {
  background-color: var(--pink-12);
}

.bg-purple-1 {
  background-color: var(--purple-1);
}
.bg-purple-2 {
  background-color: var(--purple-2);
}
.bg-purple-3 {
  background-color: var(--purple-3);
}
.bg-purple-4 {
  background-color: var(--purple-4);
}
.bg-purple-5 {
  background-color: var(--purple-5);
}
.bg-purple-6 {
  background-color: var(--purple-6);
}
.bg-purple-7 {
  background-color: var(--purple-7);
}
.bg-purple-8 {
  background-color: var(--purple-8);
}
.bg-purple-9 {
  background-color: var(--purple-9);
}
.bg-purple-10 {
  background-color: var(--purple-10);
}
.bg-purple-11 {
  background-color: var(--purple-11);
}
.bg-purple-12 {
  background-color: var(--purple-12);
}

.bg-green-1 {
  background-color: var(--green-1);
}
.bg-green-2 {
  background-color: var(--green-2);
}
.bg-green-3 {
  background-color: var(--green-3);
}
.bg-green-4 {
  background-color: var(--green-4);
}
.bg-green-5 {
  background-color: var(--green-5);
}
.bg-green-6 {
  background-color: var(--green-6);
}
.bg-green-7 {
  background-color: var(--green-7);
}
.bg-green-8 {
  background-color: var(--green-8);
}
.bg-green-9 {
  background-color: var(--green-9);
}
.bg-green-10 {
  background-color: var(--green-10);
}
.bg-green-11 {
  background-color: var(--green-11);
}
.bg-green-12 {
  background-color: var(--green-12);
}

.bg-orange-1 {
  background-color: var(--orange-1);
}
.bg-orange-2 {
  background-color: var(--orange-2);
}
.bg-orange-3 {
  background-color: var(--orange-3);
}
.bg-orange-4 {
  background-color: var(--orange-4);
}
.bg-orange-5 {
  background-color: var(--orange-5);
}
.bg-orange-6 {
  background-color: var(--orange-6);
}
.bg-orange-7 {
  background-color: var(--orange-7);
}
.bg-orange-8 {
  background-color: var(--orange-8);
}
.bg-orange-9 {
  background-color: var(--orange-9);
}
.bg-orange-10 {
  background-color: var(--orange-10);
}
.bg-orange-11 {
  background-color: var(--orange-11);
}
.bg-orange-12 {
  background-color: var(--orange-12);
}

.bg-yellow-1 {
  background-color: var(--yellow-1);
}
.bg-yellow-2 {
  background-color: var(--yellow-2);
}
.bg-yellow-3 {
  background-color: var(--yellow-3);
}
.bg-yellow-4 {
  background-color: var(--yellow-4);
}
.bg-yellow-5 {
  background-color: var(--yellow-5);
}
.bg-yellow-6 {
  background-color: var(--yellow-6);
}
.bg-yellow-7 {
  background-color: var(--yellow-7);
}
.bg-yellow-8 {
  background-color: var(--yellow-8);
}
.bg-yellow-9 {
  background-color: var(--yellow-9);
}
.bg-yellow-10 {
  background-color: var(--yellow-10);
}
.bg-yellow-11 {
  background-color: var(--yellow-11);
}
.bg-yellow-12 {
  background-color: var(--yellow-12);
}

.bg-brown-1 {
  background-color: var(--brown-1);
}
.bg-brown-2 {
  background-color: var(--brown-2);
}
.bg-brown-3 {
  background-color: var(--brown-3);
}
.bg-brown-4 {
  background-color: var(--brown-4);
}
.bg-brown-5 {
  background-color: var(--brown-5);
}
.bg-brown-6 {
  background-color: var(--brown-6);
}
.bg-brown-7 {
  background-color: var(--brown-7);
}
.bg-brown-8 {
  background-color: var(--brown-8);
}
.bg-brown-9 {
  background-color: var(--brown-9);
}
.bg-brown-10 {
  background-color: var(--brown-10);
}
.bg-brown-11 {
  background-color: var(--brown-11);
}
.bg-brown-12 {
  background-color: var(--brown-12);
}

.bg-gray-1 {
  background-color: var(--gray-1);
}
.bg-gray-2 {
  background-color: var(--gray-2);
}
.bg-gray-3 {
  background-color: var(--gray-3);
}
.bg-gray-4 {
  background-color: var(--gray-4);
}
.bg-gray-5 {
  background-color: var(--gray-5);
}
.bg-gray-6 {
  background-color: var(--gray-6);
}
.bg-gray-7 {
  background-color: var(--gray-7);
}
.bg-gray-8 {
  background-color: var(--gray-8);
}
.bg-gray-9 {
  background-color: var(--gray-9);
}
.bg-gray-10 {
  background-color: var(--gray-10);
}
.bg-gray-11 {
  background-color: var(--gray-11);
}
.bg-gray-12 {
  background-color: var(--gray-12);
}

/* Text color */
.c-blue-1 {
  color: var(--blue-1);
}
.c-blue-2 {
  color: var(--blue-2);
}
.c-blue-3 {
  color: var(--blue-3);
}
.c-blue-4 {
  color: var(--blue-4);
}
.c-blue-5 {
  color: var(--blue-5);
}
.c-blue-6 {
  color: var(--blue-6);
}
.c-blue-7 {
  color: var(--blue-7);
}
.c-blue-8 {
  color: var(--blue-8);
}
.c-blue-9 {
  color: var(--blue-9);
}
.c-blue-10 {
  color: var(--blue-10);
}
.c-blue-11 {
  color: var(--blue-11);
}
.c-blue-12 {
  color: var(--blue-12);
}

.c-cyan-1 {
  color: var(--cyan-1);
}
.c-cyan-2 {
  color: var(--cyan-2);
}
.c-cyan-3 {
  color: var(--cyan-3);
}
.c-cyan-4 {
  color: var(--cyan-4);
}
.c-cyan-5 {
  color: var(--cyan-5);
}
.c-cyan-6 {
  color: var(--cyan-6);
}
.c-cyan-7 {
  color: var(--cyan-7);
}
.c-cyan-8 {
  color: var(--cyan-8);
}
.c-cyan-9 {
  color: var(--cyan-9);
}
.c-cyan-10 {
  color: var(--cyan-10);
}
.c-cyan-11 {
  color: var(--cyan-11);
}
.c-cyan-12 {
  color: var(--cyan-12);
}

.c-red-1 {
  color: var(--red-1);
}
.c-red-2 {
  color: var(--red-2);
}
.c-red-3 {
  color: var(--red-3);
}
.c-red-4 {
  color: var(--red-4);
}
.c-red-5 {
  color: var(--red-5);
}
.c-red-6 {
  color: var(--red-6);
}
.c-red-7 {
  color: var(--red-7);
}
.c-red-8 {
  color: var(--red-8);
}
.c-red-9 {
  color: var(--red-9);
}
.c-red-10 {
  color: var(--red-10);
}
.c-red-11 {
  color: var(--red-11);
}
.c-red-12 {
  color: var(--red-12);
}

.c-pink-1 {
  color: var(--pink-1);
}
.c-pink-2 {
  color: var(--pink-2);
}
.c-pink-3 {
  color: var(--pink-3);
}
.c-pink-4 {
  color: var(--pink-4);
}
.c-pink-5 {
  color: var(--pink-5);
}
.c-pink-6 {
  color: var(--pink-6);
}
.c-pink-7 {
  color: var(--pink-7);
}
.c-pink-8 {
  color: var(--pink-8);
}
.c-pink-9 {
  color: var(--pink-9);
}
.c-pink-10 {
  color: var(--pink-10);
}
.c-pink-11 {
  color: var(--pink-11);
}
.c-pink-12 {
  color: var(--pink-12);
}

.c-purple-1 {
  color: var(--purple-1);
}
.c-purple-2 {
  color: var(--purple-2);
}
.c-purple-3 {
  color: var(--purple-3);
}
.c-purple-4 {
  color: var(--purple-4);
}
.c-purple-5 {
  color: var(--purple-5);
}
.c-purple-6 {
  color: var(--purple-6);
}
.c-purple-7 {
  color: var(--purple-7);
}
.c-purple-8 {
  color: var(--purple-8);
}
.c-purple-9 {
  color: var(--purple-9);
}
.c-purple-10 {
  color: var(--purple-10);
}
.c-purple-11 {
  color: var(--purple-11);
}
.c-purple-12 {
  color: var(--purple-12);
}

.c-green-1 {
  color: var(--green-1);
}
.c-green-2 {
  color: var(--green-2);
}
.c-green-3 {
  color: var(--green-3);
}
.c-green-4 {
  color: var(--green-4);
}
.c-green-5 {
  color: var(--green-5);
}
.c-green-6 {
  color: var(--green-6);
}
.c-green-7 {
  color: var(--green-7);
}
.c-green-8 {
  color: var(--green-8);
}
.c-green-9 {
  color: var(--green-9);
}
.c-green-10 {
  color: var(--green-10);
}
.c-green-11 {
  color: var(--green-11);
}
.c-green-12 {
  color: var(--green-12);
}

.c-orange-1 {
  color: var(--orange-1);
}
.c-orange-2 {
  color: var(--orange-2);
}
.c-orange-3 {
  color: var(--orange-3);
}
.c-orange-4 {
  color: var(--orange-4);
}
.c-orange-5 {
  color: var(--orange-5);
}
.c-orange-6 {
  color: var(--orange-6);
}
.c-orange-7 {
  color: var(--orange-7);
}
.c-orange-8 {
  color: var(--orange-8);
}
.c-orange-9 {
  color: var(--orange-9);
}
.c-orange-10 {
  color: var(--orange-10);
}
.c-orange-11 {
  color: var(--orange-11);
}
.c-orange-12 {
  color: var(--orange-12);
}

.c-yellow-1 {
  color: var(--yellow-1);
}
.c-yellow-2 {
  color: var(--yellow-2);
}
.c-yellow-3 {
  color: var(--yellow-3);
}
.c-yellow-4 {
  color: var(--yellow-4);
}
.c-yellow-5 {
  color: var(--yellow-5);
}
.c-yellow-6 {
  color: var(--yellow-6);
}
.c-yellow-7 {
  color: var(--yellow-7);
}
.c-yellow-8 {
  color: var(--yellow-8);
}
.c-yellow-9 {
  color: var(--yellow-9);
}
.c-yellow-10 {
  color: var(--yellow-10);
}
.c-yellow-11 {
  color: var(--yellow-11);
}
.c-yellow-12 {
  color: var(--yellow-12);
}

.c-brown-1 {
  color: var(--brown-1);
}
.c-brown-2 {
  color: var(--brown-2);
}
.c-brown-3 {
  color: var(--brown-3);
}
.c-brown-4 {
  color: var(--brown-4);
}
.c-brown-5 {
  color: var(--brown-5);
}
.c-brown-6 {
  color: var(--brown-6);
}
.c-brown-7 {
  color: var(--brown-7);
}
.c-brown-8 {
  color: var(--brown-8);
}
.c-brown-9 {
  color: var(--brown-9);
}
.c-brown-10 {
  color: var(--brown-10);
}
.c-brown-11 {
  color: var(--brown-11);
}
.c-brown-12 {
  color: var(--brown-12);
}

.c-gray-1 {
  color: var(--gray-1);
}
.c-gray-2 {
  color: var(--gray-2);
}
.c-gray-3 {
  color: var(--gray-3);
}
.c-gray-4 {
  color: var(--gray-4);
}
.c-gray-5 {
  color: var(--gray-5);
}
.c-gray-6 {
  color: var(--gray-6);
}
.c-gray-7 {
  color: var(--gray-7);
}
.c-gray-8 {
  color: var(--gray-8);
}
.c-gray-9 {
  color: var(--gray-9);
}
.c-gray-10 {
  color: var(--gray-10);
}
.c-gray-11 {
  color: var(--gray-11);
}
.c-gray-12 {
  color: var(--gray-12);
}

/* Font Family */
.ff-monospace {
  font-family: monospace;
}
.ff-text {
  font-family: var(--font-text);
}
.ff-heading {
  font-family: var(--font-heading);
}

/* Font Size */
.fz-xs {
  font-size: var(--font-size-xs);
}
.fz-sm {
  font-size: var(--font-size-sm);
}
.fz-md {
  font-size: var(--font-size-md);
}
.fz-lg {
  font-size: var(--font-size-lg);
}
.fz-xl {
  font-size: var(--font-size-xl);
}

.fz-h1 {
  font-size: var(--font-size-h1);
}
.fz-h2 {
  font-size: var(--font-size-h2);
}
.fz-h3 {
  font-size: var(--font-size-h3);
}
.fz-h4 {
  font-size: var(--font-size-h4);
}
.fz-h5 {
  font-size: var(--font-size-h5);
}
.fz-h6 {
  font-size: var(--font-size-h6);
}

/* Line Height */
.lh-xs {
  line-height: var(--line-height-xs);
}
.lh-sm {
  line-height: var(--line-height-sm);
}
.lh-md {
  line-height: var(--line-height-md);
}
.lh-lg {
  line-height: var(--line-height-lg);
}
.lh-xl {
  line-height: var(--line-height-xl);
}

/* Text Alignment */
.ta-left {
  text-align: left;
}
.ta-center {
  text-align: center;
}
.ta-right {
  text-align: right;
}
.ta-justify {
  text-align: justify;
}

/* Font Style */
.fs-italic {
  font-style: italic;
}
.fs-normal {
  font-style: normal;
}

/* Text Transform */
.tt-uppercase {
  text-transform: uppercase;
}
.tt-lowercase {
  text-transform: lowercase;
}
.tt-capitalize {
  text-transform: capitalize;
}

/* Text Decoration */
.td-underline {
  text-decoration: underline;
}
.td-line-through {
  text-decoration: line-through;
}
.td-none {
  text-decoration: none;
}

/* Display */
.display-block {
  display: block;
}
.display-inline {
  display: inline;
}
.display-flex {
  display: flex;
}
.display-grid {
  display: grid;
}
.display-none {
  display: none;
}

/* Position */
.pos-relative {
  position: relative;
}
.pos-absolute {
  position: absolute;
}
.pos-fixed {
  position: fixed;
}
.pos-sticky {
  position: sticky;
}
