.menu-label {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  height: 2rem;
  transition: background-color 0.1s ease-in-out;

  &[role='button'] {
    cursor: pointer;
    border-radius: var(--radius-md);

    &:hover {
      background-color: var(--gray-3);
    }

    &:not(:has(button:hover)):active {
      background-color: var(--gray-2);
    }
  }

  .text {
    flex: 1;
  }

  .actions {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    opacity: 0;

    .icon {
      color: var(--text-color-muted);
    }
  }

  &:hover .actions {
    opacity: 1;
  }
}
