/* Color */

.icon.color-current-color {
  fill: currentColor;
}

.icon.color-regular {
  fill: var(--textNeutral);
}

.icon.color-white {
  fill: var(--textWhite);
}

.icon.color-light {
  fill: var(--textNeutralLight);
}

.icon.color-contrast {
  fill: var(--textContrast);
}

.icon.color-contrast-light {
  fill: var(--textContrastLight);
}
