.board-view .board-column-node {
  display: flex;
  align-items: stretch;
}

.board-view .board-column-node-content {
  flex: 1;
}

.board-view .board-column-node-end {
  flex: 1;
  padding-top: 28px;
}

.board-view .bottom-drop-zone {
  border-radius: var(--radiusLg);
  height: 140px;
  text-align: center;
}

.board-view .board-column-node .delete-column-button {
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.board-view .board-column-node-content:hover .delete-column-button {
  opacity: 0.7;
}

.board-view .delete-column-button:hover {
  opacity: 1;
}

.board-view .bottom-drop-zone.active {
  background-color: var(--bgNeutral);
  transition: background-color 0.2s ease-in-out;
}

.board-view .spacer-drop-zone {
  height: 2px;
  padding: 13px 0;
}

.board-view .spacer-drop-zone.active .drag-over-indicator {
  height: 2px;
  background-color: var(--primary10);
  pointer-events: none;
}
