.design-studio-image-property-element {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  min-height: 12rem;
  background-color: var(--bgNeutral);

  .content-icon {
    width: 1.25rem;
    height: 1.25rem;
    color: var(--text-color-muted);
  }

  .text {
    color: var(--text-color-muted);
  }
}
