.app-sidebar {
  position: relative;
  padding: 4rem 0.5rem;
  height: 100%;

  .resize-handle {
    width: 13px;
    position: absolute;
    right: -7px;
    top: 0;
    bottom: 0;
    cursor: col-resize;
  }

  .resize-handle .resize-indicator {
    width: 5px;
    height: 100%;
    position: absolute;
    left: calc(50% - 3px);
    transition: background-color 0s;
    transition-delay: 0s;
  }

  .resize-handle:hover .resize-indicator {
    background-color: var(--primary4);
    animation-duration: 1.3s;
    transition-delay: 0.3s;
    transition-duration: 0.2s;
  }

  &.app-sidebar-is-dragging .resize-handle .resize-indicator,
  &.app-sidebar-is-dragging .resize-handle:hover .resize-indicator {
    background-color: var(--primary4);
    animation-duration: 0s;
    transition-delay: 0s;
    transition-duration: 0s;
  }
}
