.to-do-element {
  display: flex;
  align-items: center;
}

.to-do-element .rich-text-content {
  padding-left: 6px;
}

.to-do-element .icon {
  cursor: pointer;
  vertical-align: middle;
  outline: none;
}

.to-do-element.done .rich-text-content {
  text-decoration: line-through;
  opacity: 0.5;
}

.to-do-element.done .icon {
  fill: var(--primary10);
}
