.icon-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  user-select: none;
  border-radius: var(--radiusMd);
  transition: var(--transitionShort);
  transition-property: color, background-color, border-color;
  cursor: pointer;
  background-color: transparent;
  padding: 4px;
  font-size: 20px;
}

.icon-button > svg {
  fill: var(--textNeutral);
  width: 20px;
  height: 20px;
}

.icon-button:hover {
  background-color: var(--bgNeutralHover);
  transition-duration: 0.1s;
}

.icon-button:active {
  background-color: var(--bgNeutralActive);
}

.icon-button:focus-visible {
  outline: 2px solid var(--borderPrimary);
}

/* Colors */

.icon-button.color-light > svg {
  fill: var(--textNeutralLight);
}

.icon-button.color-contrast > svg {
  fill: var(--textContrast);
}

.icon-button.color-contrast:hover > svg {
  fill: var(--textNeutral);
}

.icon-button.color-contrast:active > svg {
  fill: var(--textNeutral);
}

/* Sizes */

.icon-button.size-small {
  padding: 3px;
}

.icon-button.size-small > svg {
  width: 16px;
  height: 16px;
}

/* Disabled */

.icon-button:disabled {
  pointer-events: none;
}

.icon-button:disabled > svg,
.icon-button.color-light:disabled > svg {
  fill: var(--textNeutralDisabled);
}
