.new-item-type-dialog {
  display: flex;
  flex-direction: column;
  min-height: 40vh;
  width: 90vw;
  max-width: 900px;
  padding: 0;

  .header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .content {
    flex: 1;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;

    .invisible-text-field {
      align-self: stretch;
    }

    .base-type-buttons {
      display: flex;
      gap: 0.5rem;
      flex-wrap: wrap;
    }
  }

  .footer {
    padding: 1rem;
    border-top: 1px solid var(--divider);
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
}
