.toggle-group-button {
  border: none;
  outline: none;
  cursor: pointer;
  flex-grow: 1;
  height: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: var(--radius-sm);

  .icon {
    width: 1rem;
    height: 1rem;
    color: var(--text-color-muted);
  }

  &[data-pressed] {
    background-color: var(--bgNeutralActive);

    .icon {
      color: var(--text-color-regular);
    }
  }
}
