.drop-indicator {
  --circle-size: 8px;

  position: absolute;
  pointer-events: none;
  z-index: 999;

  &.drop-indicator-horizontal {
    width: 100%;
    height: var(--circle-size);

    &.drop-indicator-position-inside {
      top: 50%;
      transform: translateY(-50%);
    }

    &.drop-indicator-position-start {
      top: 0;
      transform: translateY(-50%);
    }

    &.drop-indicator-position-end {
      bottom: 0;
      transform: translateY(50%);
    }

    &.drop-indicator-position-after {
      bottom: 0;
      transform: translateY(calc(var(--gap) / 2 + var(--circle-size) / 2));
    }

    &.drop-indicator-position-before {
      top: 0;
      transform: translateY(calc((var(--gap) / -2 - var(--circle-size) / 2)));
    }
  }

  &.drop-indicator-vertical {
    height: 100%;
    width: var(--circle-size);
  }

  .drop-indicator-line {
    position: absolute;
    background-color: var(--blue-1000);

    &.drop-indicator-line-horizontal {
      width: calc(100% - 5px);
      height: 2px;
      left: 5px;
      top: 0;
      transform: translateY(3px);
    }

    &.drop-indicator-line-vertical {
      height: calc(100% - 5px);
      width: 2px;
      top: 5px;
      transform: translateX(-50%);
    }
  }

  .drop-indicator-circle {
    position: absolute;
    width: var(--circle-size);
    height: var(--circle-size);
    border-radius: 50%;
    border: 2px solid var(--blue-1000);

    &.drop-indicator-circle-horizontal {
      left: -1px;
      top: 0;
    }

    &.drop-indicator-circle-vertical {
      top: -4px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
