.text {
  font-family: var(--defaultFontFamily);
  color: var(--textNeutral);
  /* line-height: 1em; */
}

/* Color */

.text.color-white {
  color: var(--textWhite);
}

.text.color-light {
  color: var(--textNeutralLight);
}

.text.color-danger {
  color: var(--textDanger);
}

.text.color-danger-light {
  color: var(--textDangerLight);
}

.text.color-contrast {
  color: var(--textContrast);
}

.text.color-contrast-light {
  color: var(--textContrastLight);
}

/* Weight */

.text.weight-light {
  font-weight: var(--fwLight);
}

.text.text.weight-regular {
  font-weight: var(--fwRegular);
}

.text.weight-medium {
  font-weight: var(--fwMedium);
}

.text.weight-semibold {
  font-weight: var(--fwSemibold);
}

.text.weight-bold {
  font-weight: var(--fwBold);
}

.text.weight-heavy {
  font-weight: var(--fwHeavy);
}

/* Size */

.text.size-tiny {
  font-size: var(--fsTiny);
}

.text.size-small {
  font-size: var(--fsSmall);
}

.text.size-regular {
  font-size: var(--fsRegular);
}

.text.size-large {
  font-size: var(--fsLarge);
}

.text.size-title {
  font-size: var(--fsTitle);
}
