.text {
  font-family: var(--font-family);
  color: var(--text-color-regular);
  font-weight: var(--weight-normal);

  /* Color */

  &.color-light {
    color: var(--text-color-light);
  }

  &.color-muted {
    color: var(--text-color-muted);
  }

  &.color-danger {
    color: var(--text-color-danger);
  }

  &.color-danger-light {
    color: var(--text-color-danger-light);
  }

  &.color-contrast {
    color: var(--text-color-contrast);
  }

  &.color-contrast-light {
    color: var(--text-color-contrast-light);
  }

  &.color-inherit {
    color: inherit;
  }

  /* Weight */

  &.weight-light {
    font-weight: var(--weight-light);
  }

  &.weight-regular {
    font-weight: var(--weight-normal);
  }

  &.weight-medium {
    font-weight: var(--weight-medium);
  }

  &.weight-semibold {
    font-weight: var(--fwSemibold);
  }

  &.weight-bold {
    font-weight: var(--weight-bold);
  }

  &.weight-inherit {
    font-weight: inherit;
  }

  /* Size */

  &.size-tiny {
    font-size: var(--text-xs);
  }

  &.size-small {
    font-size: var(--text-sm);
  }

  &.size-regular {
    font-size: var(--text-base);
  }

  &.size-large {
    font-size: var(--text-lg);
  }
}
