.item-type-view {
  height: 100%;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border-bottom: 1px solid var(--border-color);

    .title {
      display: flex;
      align-items: center;
      gap: 0.75rem;

      .text {
        font-size: 1.5rem;
        font-weight: 600;
      }
    }
  }
}
