/* Size */

.content-icon {
  border-radius: var(--radius-xs);
  width: var(--icon-size-default);
  height: var(--icon-size-default);
}

/* Color */

.content-icon-color-current-color {
  color: currentColor;
}

.content-icon-color-subtle {
  color: var(--text-subtle);
}

.content-icon-color-regular {
  color: var(--text-regular);
}

.content-icon-color-muted {
  color: var(--text-muted);
}

.content-icon-color-contrast {
  color: var(--text-on-solid);
}

.content-icon-color-primary {
  color: var(--primary-900);
}

.content-icon-color-blue {
  color: var(--blue-900);
}

.content-icon-color-cyan {
  color: var(--cyan-900);
}

.content-icon-color-red {
  color: var(--red-900);
}

.content-icon-color-pink {
  color: var(--pink-900);
}

.content-icon-color-purple {
  color: var(--purple-900);
}

.content-icon-color-green {
  color: var(--green-900);
}

.content-icon-color-orange {
  color: var(--orange-900);
}

.content-icon-color-yellow {
  color: var(--yellow-900);
}

.content-icon-color-brown {
  color: var(--brown-900);
}

.content-icon-color-gray {
  color: var(--gray-900);
}
