.topic-drop {
  position: relative;
  background-color: var(--bgApp);
  padding: 12px;
  border-radius: var(--radiusLg);
  border-width: 1px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  color: var(--textNeutral);
  border-color: var(--borderNeutralSubtle);
  font-size: var(--fsLarge);
  font-weight: var(--fwMedium);
  cursor: pointer;
}

.topic-drop:hover {
  background-color: var(--bgSubtle);
}

.topic-drop.untitled {
  color: var(--textNeutralLight);
}
