/* ============================================================
   SEPARATOR
   Horizontal or vertical dividing line.
   ============================================================ */

.separator {
  background-color: var(--border-subtle);
  flex-shrink: 0;
}

.separator[data-orientation='horizontal'] {
  height: 1px;
  width: 100%;
}

.separator[data-orientation='vertical'] {
  height: 100%;
  width: 1px;
}


/* --- Margin --- */

.separator-margin-small[data-orientation='horizontal'] {
  margin-top: var(--space-2);
  margin-bottom: var(--space-2);
}

.separator-margin-medium[data-orientation='horizontal'] {
  margin-top: var(--space-3);
  margin-bottom: var(--space-3);
}

.separator-margin-large[data-orientation='horizontal'] {
  margin-top: var(--space-5);
  margin-bottom: var(--space-5);
}

.separator-margin-small[data-orientation='vertical'] {
  margin-left: var(--space-2);
  margin-right: var(--space-2);
}

.separator-margin-medium[data-orientation='vertical'] {
  margin-left: var(--space-3);
  margin-right: var(--space-3);
}

.separator-margin-large[data-orientation='vertical'] {
  margin-left: var(--space-5);
  margin-right: var(--space-5);
}
