.gallery-view {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  overflow-y: auto;
  flex: 1;
  min-height: 0;
  margin: 0 1rem;

  .column {
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
}
