.workspace-nav-item > .nav-item {
  display: flex;
  align-items: center;
  border-radius: var(--radiusMd);
  cursor: pointer;
  height: 28px;
  padding: 0 4px 0 2px;
}

.workspace-nav-item > .nav-item:hover,
.workspace-nav-item.hovering .nav-item {
  background-color: var(--bgNeutralHover);
}

.workspace-nav-item > .nav-item:active {
  background-color: var(--bgNeutralActive);
}

.workspace-nav-item > .nav-item:hover .text,
.workspace-nav-item.active .nav-item .text,
.workspace-nav-item.hovering .nav-item .text {
  color: var(--textPrimary);
}

.workspace-nav-item > .nav-item .icon-container {
  height: 22px;
  width: 22px;
}

.workspace-nav-item > .nav-item .icon {
  fill: var(--textNeutralLight);
}

.workspace-nav-item.active .nav-item .icon {
  fill: var(--textNeutral);
}

.workspace-nav-item > .nav-item:hover .icon,
.workspace-nav-item.hovering .nav-item .icon {
  fill: var(--textNeutral);
}

.workspace-nav-item .label {
  padding: 0 4px;
  flex: 1;
}

.workspace-nav-item.missing .nav-item .text {
  color: var(--textDanger);
}

.workspace-nav-item.missing .nav-item .icon {
  fill: var(--textDanger);
}

.workspace-nav-item > .nav-item .actions {
  opacity: 0;
}

.workspace-nav-item:hover .actions,
.workspace-nav-item.hovering .actions {
  opacity: 1;
}

.workspace-nav-item:hover .icon-button:hover {
  background: var(--bgNeutralDarkHover);
}

.workspace-nav-item:hover .icon-button:active {
  background: var(--bgNeutralDarkActive);
}
