.bookmark-card-horizontal {
  padding: 0;
  overflow: hidden;
}

.bookmark-card-horizontal a {
  position: relative;
  display: flex;
  width: 100%;
  color: var(--textNeutral);
  text-decoration: none;
  height: 106px;
  min-width: 0;
  flex-wrap: wrap-reverse;
  align-items: stretch;
  text-align: left;
}

.bookmark-card-horizontal:hover {
  background-color: var(--bgSubtle);
}

.bookmark-card-horizontal .description-container {
  padding: 12px 14px;
  height: 106px;
  flex: 1;
  overflow: hidden;
  min-width: 0;
}

.bookmark-card-horizontal .description-container .title {
  font-size: var(--fsRegular);
  color: var(--textNeutral);
  font-weight: var(--fwMedium);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 24px;
  margin-bottom: 2px;
}

.bookmark-card-horizontal .description-container .description {
  font-size: var(--fsTiny);
  color: var(--textNeutralLight);
  line-height: 16px;
  height: 32px;
  overflow: hidden;
  margin-bottom: 6px;
}

.bookmark-card-horizontal .domain-container {
  height: 16px;
  display: flex;
}

.bookmark-card-horizontal .domain-container img {
  width: 16px;
  height: 16px;
  margin-right: 6px;
  border-radius: 2px;
}

.bookmark-card-horizontal .domain-container .domain {
  font-size: var(--fsTiny);
  line-height: 16px;
}

.bookmark-card-horizontal .description-container.has-image {
  flex: 4 1 180px;
}

.bookmark-card-horizontal .image-container {
  flex: 1 1 180px;
  height: 106px;
}

.bookmark-card-horizontal .image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.bookmark-card-horizontal.color-blue:hover {
  background-color: var(--blue7);
}

.bookmark-card-horizontal.color-cyan:hover {
  background-color: var(--cyan7);
}

.bookmark-card-horizontal.color-red:hover {
  background-color: var(--red7);
}

.bookmark-card-horizontal.color-pink:hover {
  background-color: var(--pink7);
}

.bookmark-card-horizontal.color-purple:hover {
  background-color: var(--purple7);
}

.bookmark-card-horizontal.color-green:hover {
  background-color: var(--green7);
}

.bookmark-card-horizontal.color-yellow:hover {
  background-color: var(--yellow7);
}

.bookmark-card-horizontal.color-orange:hover {
  background-color: var(--orange7);
}

.bookmark-card-horizontal.color-brown:hover {
  background-color: var(--brown7);
}

.bookmark-card-horizontal.color-gray:hover {
  background-color: var(--gray7);
}
