.text-input {
  font-family: var(--defaultFontFamily);
  background-color: transparent;
  border: 1px solid var(--borderNeutralSubtle);
  outline: none;
  padding: 8px;
  font-size: var(--fsRegular);
  color: var(--textNeutral);
  line-height: 1em;
  border-radius: var(--radiusLg);
}

.text-field::placeholder {
  color: var(--textNeutralPlaceholder);
}
