.invisible-text-field {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  input {
    font-family: var(--defaultFontFamily);
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    font-size: var(--fsRegular);
    color: var(--textNeutral);
    line-height: 1em;

    &::placeholder {
      color: var(--textNeutralDisabled);
    }
  }

  .description {
    margin: 0;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: var(--gray10);
  }

  .error {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: var(--textDanger);
  }

  /* Color */

  .color-light {
    color: var(--textNeutralLight);
  }

  .color-contrast {
    color: var(--textContrast);
  }

  .color-contrast-light {
    color: var(--textContrastLight);
  }

  .color-danger {
    color: var(--textDanger);
  }

  /* Weight */

  .weight-light {
    font-weight: var(--fwLight);
  }

  .weight-regular {
    font-weight: var(--fwRegular);
  }

  .weight-medium {
    font-weight: var(--fwMedium);
  }

  .weight-semibold {
    font-weight: var(--fwSemibold);
  }

  .weight-bold {
    font-weight: var(--fwBold);
  }

  .weight-heavy {
    font-weight: var(--fwHeavy);
  }

  /* Size */

  .size-tiny {
    font-size: var(--fsTiny);
  }

  .size-small {
    font-size: var(--fsSmall);
  }

  .size-regular {
    font-size: var(--fsRegular);
  }

  .size-large {
    font-size: var(--fsLarge);
  }

  .size-title {
    font-size: var(--fsTitle);
  }
}
