.menu-item {
  width: 100%;
  cursor: pointer;
  outline: none;
}

.menu-item .label-container {
  display: flex;
  align-items: center;
  width: 100%;
  color: var(--textPrimary);
  padding: 5px 14px;
}

.menu-item:focus {
  background-color: var(--bgNeutralHover);
}

.menu-item:active {
  background-color: var(--bgNeutralActive);
}

.menu-item.has-submenu .label-container {
  padding-right: 0;
}

.menu-item[data-state='checked'] .label-container {
  padding-right: 14px;
}

/* Label */

.menu-item .label {
  line-height: var(--fsRegular);
  display: inline-block;
  flex: 1;
  line-height: 18px;
}

/* Icon */

.menu-item .item-icon {
  display: inline-block;
  fill: var(--textNeutral);
  width: 17px;
  height: 17px;
  margin-inline-end: 8px;
}

/* Submenu indicator */

.menu-item .submenu-indicator {
  display: inline-block;
  height: 18px;
  width: 18px;
  margin-inline-end: 8px;
  fill: var(--textNeutralLight);
}

/* Item indicator */

.menu-item .item-indicator {
  display: inline-block;
  height: 18px;
  width: 18px;
  fill: var(--textNeutralLight);
}

/* Description */

.menu-item .description {
  color: var(--textNeutralLight);
  font-size: var(--fsSmall);
  padding: 0px 14px 8px 14px;
}
