.bookmark-drop {
  padding: 0;
}

.bookmark-drop .content {
  display: flex;
  flex-wrap: nowrap;
}

.bookmark-drop .drag-handle {
  height: 12px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  cursor: move;
}

.bookmark-drop .fetching-preview {
  color: var(--textNeutralLight);
}

.bookmark-drop .link {
  text-decoration: none;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.bookmark-drop .image {
  width: 120px;
  max-height: 100px;
  margin-right: 2px;
  border-top-left-radius: var(--radiusLg);
  border-bottom-left-radius: var(--radiusLg);
  object-fit: cover;
  object-position: center;
  vertical-align: bottom;
}

.bookmark-drop .text-content {
  padding: 8px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  flex: 1;
}

.bookmark-drop .title {
  font-size: var(--fsRegular);
  font-weight: var(--fwSemibold);
  color: var(--textNeutral);
  max-height: 1em;
  overflow: hidden;
}

.bookmark-drop .description {
  font-size: var(--fsTiny);
  font-weight: var(--fwMedium);
  color: var(--textNeutral);
  line-height: 140%;
  max-height: 2.8em;
  overflow: hidden;
}

.bookmark-drop .url {
  font-size: var(--fsTiny);
  font-weight: var(--fwSemibold);
  color: var(--textNeutralLight);
  max-height: 1em;
  overflow: hidden;
}

.bookmark-drop.placeholder {
  border: none;
  background-color: var(--bgNeutral);
}

.bookmark-drop .placeholder-content {
  display: flex;
  flex: 1;
  align-items: center;
  padding: 12px;
  color: var(--textNeutralLight);
  font-size: var(--fsLarge);
  cursor: pointer;
}

.bookmark-drop .placeholder-content .icon {
  width: 26px;
  height: 26px;
  margin-right: 8px;
}

.bookmark-drop-url-form {
  display: flex;
  align-items: center;
  width: 330px;
  padding-right: 8px;
}

.bookmark-drop-url-form .invisible-text-field {
  flex: 1;
  padding: 16px 8px 16px 12px;
  margin-right: 4px;
}
