.text-field-container {
  position: relative;
  width: 100%;
}

.text-field {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.25rem;
  width: 100%;

  .label {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: var(--gray11);
  }

  .input-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .input {
    box-sizing: border-box;
    padding-left: 0.875rem;
    margin: 0;
    border: 1px solid var(--gray2);
    width: 100%;
    height: 2.125rem;
    border-radius: 0.375rem;
    font-family: inherit;
    font-size: 1rem;
    background-color: transparent;
    color: var(--text-color-regular);

    &:focus {
      outline: 2px solid var(--color-blue);
      outline-offset: -1px;
    }
  }

  &.variant-filled {
    .input {
      background-color: var(--neutral3);
      border: none;
    }
  }

  .description {
    margin: 0;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: var(--gray10);
  }

  .error {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: var(--red9);
  }

  .icon-picker-spacer {
    width: 2.125rem;
  }
}

.icon-picker-container {
  position: absolute;
  left: 0;
  top: 1.5rem;
}
