.document-nav-item > .nav-item {
  border-radius: var(--radiusMd);
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  padding-right: 2px;
}

.document-nav-item > .nav-item:hover,
.document-nav-item > .nav-item.hovering {
  background-color: var(--bgNeutralHover);
}

.document-nav-item > .nav-item:active,
.document-nav-item > .nav-item.active {
  background-color: var(--bgNeutralActive);
}

.document-nav-item > .nav-item.active:hover {
  background-color: var(--bgNeutralActiveHover);
}

/* Toggle button */

.document-nav-item .toggle-button {
  padding-left: 3px;
  margin-right: -3px;
}

.document-nav-item .toggle-button .icon {
  height: 24px;
  fill: var(--neutral8);
}

.document-nav-item .toggle-button[data-state='open'] .toggle-icon {
  transform: rotate(90deg);
}

.document-nav-item .toggle-button .toggle-icon.has-subdocuments {
  fill: var(--neutral9);
}

/* Icon */

.document-nav-item > .nav-item .document-icon .icon {
  fill: var(--textNeutralLight);
}

.document-nav-item > .nav-item:hover > .document-icon .icon,
.document-nav-item .nav-item.hovering > .document-icon .icon,
.document-nav-item.active .nav-item > .document-icon .icon {
  fill: var(--textNeutral);
}

/* Label */

.document-nav-item .label-button {
  flex: 1;
  height: 24px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.document-nav-item .label {
  padding-right: 6px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 24px;
}

.document-nav-item > .nav-item:hover .text,
.document-nav-item > .nav-item.hovering .text,
.document-nav-item.active .nav-item .text,
.document-nav-item.hovering .nav-item .text {
  color: var(--textPrimary);
}

.document-nav-item > .nav-item.active .label {
  font-weight: var(--fwSemibold);
}

/* Actions */

.document-nav-item > .nav-item .actions {
  opacity: 0;
}

.document-nav-item > .nav-item:hover .actions,
.document-nav-item > .nav-item.hovering .actions {
  opacity: 1;
}

/* No subdocuments helper text */

.document-nav-item .helper-text {
  margin-left: 24px;
  margin-bottom: 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 24px;
}
