.icon-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  user-select: none;
  border-radius: var(--radiusMd);
  transition: var(--transitionShort);
  transition-property: color, background-color, border-color;
  cursor: pointer;
  background-color: transparent;
  padding: 4px;
  font-size: 20px;

  .icon,
  .content-icon {
    stroke: currentColor;
    width: 20px;
    height: 20px;
  }

  &:hover {
    background-color: var(--bgNeutralHover);
    transition-duration: 0.1s;
  }

  &:active {
    background-color: var(--bgNeutralActive);
  }

  &:focus-visible {
    outline: 2px solid var(--borderPrimary);
  }

  /* Colors */

  &.color-regular .icon {
    stroke: var(--textNeutral);
  }

  &.color-light .icon {
    stroke: var(--textNeutralLight);
  }

  &.color-contrast .icon {
    stroke: var(--textContrast);
  }

  &.color-contrast:hover .icon {
    stroke: var(--textNeutral);
  }

  &.color-contrast:active .icon {
    stroke: var(--textNeutral);
  }

  /* Sizes */

  &.size-small {
    padding: 2px;

    .icon {
      width: 18px;
      height: 18px;
    }
  }

  &.size-medium {
    height: 2rem;
    width: 2rem;
    flex-shrink: 0;

    .icon,
    .content-icon {
      width: 1rem;
      height: 1rem;
    }

    .emoji {
      font-size: 0.875rem;
      width: auto;
      height: auto;
    }
  }

  &.size-large {
    height: 2.125rem;
    width: 2.125rem;
    flex-shrink: 0;

    .icon,
    .content-icon {
      width: 1.125rem;
      height: 1.125rem;
    }

    .emoji {
      font-size: 0.9rem;
      width: auto;
      height: auto;
    }
  }

  /* Vatiants */

  &.variant-outlined {
    border: 0.5px solid var(--borderNeutralSubtle);

    &:hover {
      border-color: var(--borderNeutralHover);
    }

    &:active {
      border-color: var(--borderNeutral);
    }
  }

  &.variant-filled {
    background-color: var(--neutral3);

    &:hover,
    &.active {
      background-color: var(--neutral7);
    }
  }

  /* Disabled */

  &:disabled {
    pointer-events: none;
  }

  &:disabled .icon,
  &.color-light:disabled .icon {
    stroke: var(--textNeutralDisabled);
  }
}
