.to-do-element {
  display: flex;
}

.to-do-element .content {
  padding-left: var(--space-2);
  font-size: var(--text-md);
  line-height: var(--leading-normal);
  font-weight: var(--weight-normal);
  /* Fix for caret dissapearing due to 'display: flex' on
   * parent causing div to collapse to 0 width. */
  min-width: 10px;
}

.to-do-element .checkbox {
  display: flex;
  align-items: center;
  /* Align the checkbox with the first line of the content */
  height: calc(var(--text-md) * var(--leading-normal));
  outline: none;
}

.to-do-element-checked .content {
  text-decoration: line-through;
  color: var(--text-subtle);
}

.to-do-element-checked .checkbox .icon {
  stroke: var(--text-primary);
}
