.light-theme,
.dark-theme {
  /* Typography */
  --defaultFontFamily: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

  --fwLight: 300;
  --fwRegular: 400;
  --fwMedium: 500;
  --fwSemibold: 600;
  --fwBold: 700;
  --fwHeavy: 800;

  --fsTiny: 12px;
  --fsSmall: 13px;
  --fsRegular: 14px;
  --fsLarge: 16px;
  --fsTitle: 28px;

  --fsContentRegular: 16px;
  --fsContentTitle: 20px;

  --lhContentRegular: 1.5;

  /* Backgrounds */
  --bgApp: var(--appBackground);
  --bgSubtle: var(--neutral2);
  --bgContrast: var(--neutral12);

  --bgNeutral: var(--neutral3);
  --bgNeutralHover: var(--neutral4);
  --bgNeutralActive: var(--neutral5);
  --bgNeutralActiveHover: var(--neutral6);
  --bgSolidNeutral: var(--neutral9);

  --bgPrimary: var(--primary3);
  --bgPrimaryHover: var(--primary4);
  --bgPrimaryActive: var(--primary5);
  --bgSolidPrimary: var(--primary9);
  --bgSolidPrimaryHover: var(--primary10);
  --bgSolidPrimaryActive: var(--primary11);

  --bgDanger: var(--danger3);
  --bgDangerHover: var(--danger4);
  --bgDangerActive: var(--danger5);
  --bgSolidDanger: var(--danger9);
  --bgSolidDangerHover: var(--danger10);
  --bgSolidDangerActive: var(--danger11);

  /* Borders */
  --borderNeutralSubtle: var(--neutral6);
  --borderNeutral: var(--neutral7);
  --borderNeutralHover: var(--neutral8);

  --borderPrimarySubtle: var(--primary6);
  --borderPrimary: var(--primary7);
  --borderPrimaryHover: var(--primary8);

  --borderDangerSubtle: var(--danger6);
  --borderDanger: var(--danger7);
  --borderDangerHover: var(--danger8);

  /* Text */
  --textNeutralDisabled: var(--neutral9);
  --textNeutralLight: var(--neutral11);
  --textNeutral: var(--neutral12);

  --textWhite: var(--white);
  --textContrast: var(--contrastColor);
  --textContrastLight: var(--contrastLightColor);

  --textPrimaryLight: var(--primary11);
  --textPrimary: var(--primary12);

  --textDangerLight: var(--danger11);
  --textDanger: var(--danger12);

  /* Radii */
  --radiusXs: 3px; /* popovers, menus */
  --radiusSm: 4px; /* badges, tags */
  --radiusMd: 6px; /* buttons, nav items */
  --radiusLg: 8px; /* cards, drops */
  --radiusXl: 10px; /* dialogs */

  /* Transitions */
  --transitionShort: 0.2s cubic-bezier(0.3, 0, 0.5, 1);

  --adPop: 0.2s;
  --atfPop: cubic-bezier(0.16, 1, 0.3, 1);

  --adFade: 0.2s;
  --atfFade: cubic-bezier(0.16, 1, 0.3, 1);

  --adScale: 0.1s;
  --atfScale: cubic-bezier(0.16, 1, 0.3, 1);
}

body {
  font-family: var(--defaultFontFamily);
  color: var(--textNeutral);
  background-color: var(--bgApp);
}
