.dark-theme {
  --app-background-color: #0b0b0b;
  --panel-background-color: #121212;
  --panel-border-color: #1e1e1e;
  --panel-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  --popup-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  --modal-box-shadow: 0 8px 24px rgba(0, 0, 0, 0.6);
  --modal-backdrop-background: rgba(0, 0, 0, 0.5);
  --peek-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);

  --neutral1: hsl(200 7% 8.8%);
  --neutral2: hsl(195 7.1% 11%);
  --neutral3: hsl(197 6.8% 13.6%);
  --neutral4: hsl(198 6.6% 15.8%);
  --neutral5: hsl(199 6.4% 17.9%);
  --neutral6: hsl(201 6.2% 20.5%);
  --neutral7: hsl(203 6% 24.3%);
  --neutral8: hsl(207 5.6% 31.6%);
  --neutral9: hsl(206 6% 43.9%);
  --neutral10: hsl(206 5.2% 49.5%);
  --neutral11: hsl(206 6% 63%);
  --neutral12: hsl(210 6% 93%);

  --primary1: hsl(229 24% 10%);
  --primary2: hsl(230 36.4% 12.9%);
  --primary3: hsl(228 43.3% 17.5%);
  --primary4: hsl(227 47.2% 21%);
  --primary5: hsl(227 50% 24.1%);
  --primary6: hsl(226 52.9% 28.2%);
  --primary7: hsl(226 56% 34.5%);
  --primary8: hsl(226 58.2% 44.1%);
  --primary9: hsl(226 70% 55.5%);
  --primary10: hsl(227 75.2% 61.6%);
  --primary11: hsl(228 100% 75.9%);
  --primary12: hsl(226 83% 96.3%);

  --danger1: hsl(353 23% 9.8%);
  --danger2: hsl(357 34.4% 12%);
  --danger3: hsl(356 43.4% 16.4%);
  --danger4: hsl(356 47.6% 19.2%);
  --danger5: hsl(356 51.1% 21.9%);
  --danger6: hsl(356 55.2% 25.9%);
  --danger7: hsl(357 60.2% 31.8%);
  --danger8: hsl(358 65% 40.4%);
  --danger9: hsl(358 75% 59%);
  --danger10: hsl(358 85.3% 64%);
  --danger11: hsl(358 100% 69.5%);
  --danger12: hsl(351 89% 96%);

  --white: #ffffff;
  --appBackground: var(--neutral1);
  --contrastColor: #0f0f0f;
  --contrastLightColor: #6d7174;
  --transparentBackground: rgba(0, 0, 0, 0.6);

  /* Elevation */
  --el2Background: var(--neutral3);
  --el2Shadow: rgba(0, 0, 0, 0.5) 0px 3px 6px, rgba(0, 0, 0, 0.6) 0px 9px 24px;
  --el2ShadowBordered:
    rgba(220, 220, 220, 0.05) 0px 0px 0px 1px, rgba(0, 0, 0, 0.5) 0px 3px 6px,
    rgba(0, 0, 0, 0.6) 0px 9px 24px;

  /* Content colors */

  --blue1: hsl(212 35% 9.2%);
  --blue2: hsl(216 50% 11.8%);
  --blue3: hsl(214 59.4% 15.3%);
  --blue4: hsl(214 65.8% 17.9%);
  --blue5: hsl(213 71.2% 20.2%);
  --blue6: hsl(212 77.4% 23.1%);
  --blue7: hsl(211 85.1% 27.4%);
  --blue8: hsl(211 89.7% 34.1%);
  --blue9: hsl(206 100% 50%);
  --blue10: hsl(209 100% 60.6%);
  --blue11: hsl(210 100% 66.1%);
  --blue12: hsl(206 98% 95.8%);

  --cyan1: hsl(192 60% 7.2%);
  --cyan2: hsl(192 71.4% 8.2%);
  --cyan3: hsl(192 75.9% 10.8%);
  --cyan4: hsl(192 79.3% 12.8%);
  --cyan5: hsl(192 82.5% 14.6%);
  --cyan6: hsl(192 86.6% 16.9%);
  --cyan7: hsl(192 92.6% 20.1%);
  --cyan8: hsl(192 100% 24.5%);
  --cyan9: hsl(190 95% 39%);
  --cyan10: hsl(188 100% 40%);
  --cyan11: hsl(186 100% 42.2%);
  --cyan12: hsl(185 73% 93.2%);

  --red1: hsl(353 23% 9.8%);
  --red2: hsl(357 34.4% 12%);
  --red3: hsl(356 43.4% 16.4%);
  --red4: hsl(356 47.6% 19.2%);
  --red5: hsl(356 51.1% 21.9%);
  --red6: hsl(356 55.2% 25.9%);
  --red7: hsl(357 60.2% 31.8%);
  --red8: hsl(358 65% 40.4%);
  --red9: hsl(358 75% 59%);
  --red10: hsl(358 85.3% 64%);
  --red11: hsl(358 100% 69.5%);
  --red12: hsl(351 89% 96%);

  --pink1: hsl(318 25% 9.6%);
  --pink2: hsl(319 32.2% 11.6%);
  --pink3: hsl(319 41% 16%);
  --pink4: hsl(320 45.4% 18.7%);
  --pink5: hsl(320 49% 21.1%);
  --pink6: hsl(321 53.6% 24.4%);
  --pink7: hsl(321 61.1% 29.7%);
  --pink8: hsl(322 74.9% 37.5%);
  --pink9: hsl(322 65% 54.5%);
  --pink10: hsl(323 72.8% 59.2%);
  --pink11: hsl(325 90% 66.4%);
  --pink12: hsl(322 90% 95.8%);

  --purple1: hsl(250 20% 10.2%);
  --purple2: hsl(255 30.3% 12.9%);
  --purple3: hsl(253 37% 18.4%);
  --purple4: hsl(252 40.1% 22.5%);
  --purple5: hsl(252 42.2% 26.2%);
  --purple6: hsl(251 44.3% 31.1%);
  --purple7: hsl(250 46.8% 38.9%);
  --purple8: hsl(250 51.8% 51.2%);
  --purple9: hsl(252 56% 57.5%);
  --purple10: hsl(251 63.2% 63.2%);
  --purple11: hsl(250 95% 76.8%);
  --purple12: hsl(252 87% 96.4%);

  --green1: hsl(146 30% 7.4%);
  --green2: hsl(136 33.3% 8.8%);
  --green3: hsl(137 36% 11.4%);
  --green4: hsl(137 37.6% 13.7%);
  --green5: hsl(136 38.7% 16%);
  --green6: hsl(135 39.6% 19.1%);
  --green7: hsl(134 40.3% 23.8%);
  --green8: hsl(131 40.1% 30.8%);
  --green9: hsl(131 41% 46.5%);
  --green10: hsl(131 39% 52.1%);
  --green11: hsl(131 43% 57.2%);
  --green12: hsl(137 72% 94%);

  --yellow1: hsl(45 100% 5.5%);
  --yellow2: hsl(46 100% 6.7%);
  --yellow3: hsl(45 100% 8.7%);
  --yellow4: hsl(45 100% 10.4%);
  --yellow5: hsl(47 100% 12.1%);
  --yellow6: hsl(49 100% 14.3%);
  --yellow7: hsl(49 90.3% 18.4%);
  --yellow8: hsl(50 100% 22%);
  --yellow9: hsl(53 92% 50%);
  --yellow10: hsl(54 100% 68%);
  --yellow11: hsl(48 100% 47%);
  --yellow12: hsl(53 100% 91%);

  --orange1: hsl(30 70% 7.2%);
  --orange2: hsl(28 100% 8.4%);
  --orange3: hsl(26 91.1% 11.6%);
  --orange4: hsl(25 88.3% 14.1%);
  --orange5: hsl(24 87.6% 16.6%);
  --orange6: hsl(24 88.6% 19.8%);
  --orange7: hsl(24 92.4% 24%);
  --orange8: hsl(25 100% 29%);
  --orange9: hsl(24 94% 50%);
  --orange10: hsl(24 100% 58.5%);
  --orange11: hsl(24 100% 62.2%);
  --orange12: hsl(24 97% 93.2%);

  --brown1: hsl(22 15% 8.7%);
  --brown2: hsl(20 28.3% 10.4%);
  --brown3: hsl(20 28% 14%);
  --brown4: hsl(21 28.4% 16.5%);
  --brown5: hsl(22 28.7% 18.9%);
  --brown6: hsl(23 29% 22.3%);
  --brown7: hsl(25 29.5% 27.8%);
  --brown8: hsl(27 30.1% 35.9%);
  --brown9: hsl(28 34% 51%);
  --brown10: hsl(28 41.4% 55.8%);
  --brown11: hsl(28 60% 64.5%);
  --brown12: hsl(30 67% 94%);

  --gray1: hsl(0 0% 8.5%);
  --gray2: hsl(0 0% 11%);
  --gray3: hsl(0 0% 13.6%);
  --gray4: hsl(0 0% 15.8%);
  --gray5: hsl(0 0% 17.9%);
  --gray6: hsl(0 0% 20.5%);
  --gray7: hsl(0 0% 24.3%);
  --gray8: hsl(0 0% 31.2%);
  --gray9: hsl(0 0% 43.9%);
  --gray10: hsl(0 0% 49.4%);
  --gray11: hsl(0 0% 62.8%);
  --gray12: hsl(0 0% 93%);

  --gray-1: hsl(0 0% 8.5%);
  --gray-2: hsl(0 0% 11%);
  --gray-3: hsl(0 0% 13.6%);
  --gray-4: hsl(0 0% 15.8%);
  --gray-5: hsl(0 0% 17.9%);
  --gray-6: hsl(0 0% 20.5%);
  --gray-7: hsl(0 0% 24.3%);
  --gray-8: hsl(0 0% 31.2%);
  --gray-9: hsl(0 0% 43.9%);
  --gray-10: hsl(0 0% 49.4%);
  --gray-11: hsl(0 0% 62.8%);
  --gray-12: hsl(0 0% 93%);
}
