.light-theme {
  --app-background-color: #f5f5f5;
  --panel-background-color: var(--neutral2);
  --panel-border-color: var(--neutral6);
  --panel-box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.06), 0 1px 3px rgba(0, 0, 0, 0.04);
  --popup-box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.06);
  --modal-box-shadow:
    0 4px 12px rgba(0, 0, 0, 0.12), 0 8px 24px rgba(0, 0, 0, 0.08);
  --modal-backdrop-background: rgba(0, 0, 0, 0.2);
  --peek-box-shadow:
    0 2px 6px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.04);

  --neutral1: hsl(206 30% 98.8%);
  --neutral2: hsl(210 16.7% 97.6%);
  --neutral3: hsl(209 13.3% 95.3%);
  --neutral4: hsl(209 12.2% 93.2%);
  --neutral5: hsl(208 11.7% 91.1%);
  --neutral6: hsl(208 11.3% 88.9%);
  --neutral7: hsl(207 11.1% 85.9%);
  --neutral8: hsl(205 10.7% 78%);
  --neutral9: hsl(206 6% 56.1%);
  --neutral10: hsl(206 5.8% 52.3%);
  --neutral11: hsl(206 6% 43.5%);
  --neutral12: hsl(206 24% 9%);

  --primary1: hsl(225 60% 99.4%);
  --primary2: hsl(223 100% 98.6%);
  --primary3: hsl(223 98.4% 97.1%);
  --primary4: hsl(223 92.9% 95%);
  --primary5: hsl(224 87.1% 92%);
  --primary6: hsl(224 81.9% 87.8%);
  --primary7: hsl(225 77.4% 82.1%);
  --primary8: hsl(226 75.4% 74.5%);
  --primary9: hsl(226 70% 55.5%);
  --primary10: hsl(226 58.6% 51.3%);
  --primary11: hsl(226 55% 45%);
  --primary12: hsl(226 62% 17%);

  --danger1: hsl(359 100% 99.4%);
  --danger2: hsl(359 100% 98.6%);
  --danger3: hsl(360 100% 96.8%);
  --danger4: hsl(360 97.9% 94.8%);
  --danger5: hsl(360 90.2% 91.9%);
  --danger6: hsl(360 81.7% 87.8%);
  --danger7: hsl(359 74.2% 81.7%);
  --danger8: hsl(359 69.5% 74.3%);
  --danger9: hsl(358 75% 59%);
  --danger10: hsl(358 69.4% 55.2%);
  --danger11: hsl(358 65% 48.7%);
  --danger12: hsl(354 50% 14.6%);

  --white: #ffffff;
  --appBackground: #ffffff;
  --contrastColor: #ffffff;
  --contrastLightColor: #82817f;
  --transparentBackground: rgba(255, 255, 255, 0.6);

  /* Elevation */
  --el2Background: #ffffff;
  --el2Shadow:
    rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
  --el2ShadowBordered:
    rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px,
    rgba(15, 15, 15, 0.2) 0px 9px 24px;

  /* Content colors */

  --blue1: hsl(206 100% 99.2%);
  --blue2: hsl(210 100% 98%);
  --blue3: hsl(209 100% 96.5%);
  --blue4: hsl(210 98.8% 94%);
  --blue5: hsl(209 95% 90.1%);
  --blue6: hsl(209 81.2% 84.5%);
  --blue7: hsl(208 77.5% 76.9%);
  --blue8: hsl(206 81.9% 65.3%);
  --blue9: hsl(206 100% 50%);
  --blue10: hsl(208 100% 47.3%);
  --blue11: hsl(211 100% 43.2%);
  --blue12: hsl(211 100% 15%);

  --cyan1: hsl(185 60% 98.7%);
  --cyan2: hsl(185 73.3% 97.1%);
  --cyan3: hsl(186 70.2% 94.4%);
  --cyan4: hsl(186 63.8% 90.6%);
  --cyan5: hsl(187 58.3% 85.4%);
  --cyan6: hsl(188 54.6% 78.4%);
  --cyan7: hsl(189 53.7% 68.7%);
  --cyan8: hsl(189 60.3% 52.5%);
  --cyan9: hsl(190 95% 39%);
  --cyan10: hsl(191 91.2% 36.8%);
  --cyan11: hsl(192 85% 31%);
  --cyan12: hsl(192 88% 12.5%);

  --red1: hsl(359 100% 99.4%);
  --red2: hsl(359 100% 98.6%);
  --red3: hsl(360 100% 96.8%);
  --red4: hsl(360 97.9% 94.8%);
  --red5: hsl(360 90.2% 91.9%);
  --red6: hsl(360 81.7% 87.8%);
  --red7: hsl(359 74.2% 81.7%);
  --red8: hsl(359 69.5% 74.3%);
  --red9: hsl(358 75% 59%);
  --red10: hsl(358 69.4% 55.2%);
  --red11: hsl(358 65% 48.7%);
  --red12: hsl(354 50% 14.6%);

  --pink1: hsl(322 100% 99.4%);
  --pink2: hsl(323 100% 98.4%);
  --pink3: hsl(323 86.3% 96.5%);
  --pink4: hsl(323 78.7% 94.2%);
  --pink5: hsl(323 72.2% 91.1%);
  --pink6: hsl(323 66.3% 86.6%);
  --pink7: hsl(323 62% 80.1%);
  --pink8: hsl(323 60.3% 72.4%);
  --pink9: hsl(322 65% 54.5%);
  --pink10: hsl(322 63.9% 50.7%);
  --pink11: hsl(322 75% 46%);
  --pink12: hsl(320 70% 13.5%);

  --purple1: hsl(255 65% 99.4%);
  --purple2: hsl(252 100% 99%);
  --purple3: hsl(252 96.9% 97.4%);
  --purple4: hsl(252 91.5% 95.5%);
  --purple5: hsl(252 85.1% 93%);
  --purple6: hsl(252 77.8% 89.4%);
  --purple7: hsl(252 71% 83.7%);
  --purple8: hsl(252 68.6% 76.3%);
  --purple9: hsl(252 56% 57.5%);
  --purple10: hsl(251 48.1% 53.5%);
  --purple11: hsl(250 43% 48%);
  --purple12: hsl(254 60% 18.5%);

  --green1: hsl(116 50% 98.9%);
  --green2: hsl(120 60% 97.1%);
  --green3: hsl(120 53.6% 94.8%);
  --green4: hsl(121 47.5% 91.4%);
  --green5: hsl(122 42.6% 86.5%);
  --green6: hsl(124 39% 79.7%);
  --green7: hsl(126 37.1% 70.2%);
  --green8: hsl(131 38.1% 56.3%);
  --green9: hsl(131 41% 46.5%);
  --green10: hsl(132 43.1% 42.2%);
  --green11: hsl(133 50% 32.5%);
  --green12: hsl(130 30% 14.9%);

  --yellow1: hsl(60 54% 98.5%);
  --yellow2: hsl(52 100% 95.5%);
  --yellow3: hsl(55 100% 90.9%);
  --yellow4: hsl(54 100% 86.6%);
  --yellow5: hsl(52 97.9% 82%);
  --yellow6: hsl(50 89.4% 76.1%);
  --yellow7: hsl(47 80.4% 68%);
  --yellow8: hsl(48 100% 46.1%);
  --yellow9: hsl(53 92% 50%);
  --yellow10: hsl(50 100% 48.5%);
  --yellow11: hsl(42 100% 29%);
  --yellow12: hsl(40 55% 13.5%);

  --orange1: hsl(24 70% 99%);
  --orange2: hsl(24 83.3% 97.6%);
  --orange3: hsl(24 100% 95.3%);
  --orange4: hsl(25 100% 92.2%);
  --orange5: hsl(25 100% 88.2%);
  --orange6: hsl(25 100% 82.8%);
  --orange7: hsl(24 100% 75.3%);
  --orange8: hsl(24 94.5% 64.3%);
  --orange9: hsl(24 94% 50%);
  --orange10: hsl(24 100% 46.5%);
  --orange11: hsl(24 100% 37%);
  --orange12: hsl(15 60% 17%);

  --brown1: hsl(30 40% 99.1%);
  --brown2: hsl(30 50% 97.6%);
  --brown3: hsl(30 52.5% 94.6%);
  --brown4: hsl(30 53% 91.2%);
  --brown5: hsl(29 52.9% 86.8%);
  --brown6: hsl(29 52.5% 80.9%);
  --brown7: hsl(29 51.5% 72.8%);
  --brown8: hsl(28 50% 63.1%);
  --brown9: hsl(28 34% 51%);
  --brown10: hsl(27 31.8% 47.6%);
  --brown11: hsl(25 30% 41%);
  --brown12: hsl(20 30% 19%);

  --gray1: hsl(0 0% 99%);
  --gray2: hsl(0 0% 97.3%);
  --gray3: hsl(0 0% 95.1%);
  --gray4: hsl(0 0% 93%);
  --gray5: hsl(0 0% 90.9%);
  --gray6: hsl(0 0% 88.7%);
  --gray7: hsl(0 0% 85.8%);
  --gray8: hsl(0 0% 78%);
  --gray9: hsl(0 0% 56.1%);
  --gray10: hsl(0 0% 52.3%);
  --gray11: hsl(0 0% 43.5%);
  --gray12: hsl(0 0% 9%);
}
