html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: var(--defaultFontFamily);
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html,
body,
#root {
  height: 100vh;
}

body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  user-select: none;
  cursor: default;
}

input,
textarea,
select,
button,
img {
  -webkit-user-drag: none;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

u {
  text-decoration: underline;
}

.draggable {
  -webkit-app-region: drag;
}

.selectable {
  -webkit-user-select: auto;
  user-select: auto;
  cursor: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: auto;
}

svg {
  /* Fix misalignment in some browsers */
  -webkit-transform: translate(0px, 0px);
}
