/* Font Family */

.font-family-sans {
  font-family: var(--font-sans);
}

.font-family-serif {
  font-family: var(--font-serif);
}

.font-family-mono {
  font-family: var(--font-mono);
}

/* Text Decoration/Style */

.underline {
  text-decoration: underline;
}

.italic {
  font-style: italic;
}

/* Text Alignment */

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.text-align-justify {
  text-align: justify;
}

/* Text Transform */

.text-transform-uppercase {
  text-transform: uppercase;
}

.text-transform-lowercase {
  text-transform: lowercase;
}

.text-transform-capitalize {
  text-transform: capitalize;
}

/* Font Weight */

.weight-100 {
  font-weight: 100;
}

.weight-200 {
  font-weight: 200;
}

.weight-300 {
  font-weight: 300;
}

.weight-400 {
  font-weight: 400;
}

.weight-500 {
  font-weight: 500;
}

.weight-600 {
  font-weight: 600;
}

.weight-700 {
  font-weight: 700;
}

.weight-800 {
  font-weight: 800;
}

.weight-900 {
  font-weight: 900;
}
