.group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: var(--spacing-md);

  &.grow {
    > * {
      flex: 1;
    }
  }

  &.gap-xs {
    gap: var(--spacing-xs);
  }

  &.gap-sm {
    gap: var(--spacing-sm);
  }

  &.gap-md {
    gap: var(--spacing-md);
  }

  &.gap-lg {
    gap: var(--spacing-lg);
  }

  &.gap-xl {
    gap: var(--spacing-xl);
  }

  &.justify-center {
    justify-content: center;
  }

  &.justify-flex-start {
    justify-content: flex-start;
  }

  &.justify-flex-end {
    justify-content: flex-end;
  }

  &.justify-space-between {
    justify-content: space-between;
  }

  &.justify-space-around {
    justify-content: space-around;
  }

  &.justify-stretch {
    justify-content: stretch;
  }

  &.align-center {
    align-items: center;
  }

  &.align-flex-start {
    align-items: flex-start;
  }

  &.align-flex-end {
    align-items: flex-end;
  }

  &.align-stretch {
    align-items: stretch;
  }

  &.align-baseline {
    align-items: baseline;
  }

  &.wrap-wrap {
    flex-wrap: wrap;
  }

  &.wrap-nowrap {
    flex-wrap: nowrap;
  }

  &.wrap-wrap-reverse {
    flex-wrap: wrap-reverse;
  }
}
