/* ============================================================
   TABLE VIEW OPTIONS MENU
   View-type-specific settings menu content for table views.
   ============================================================ */

.table-view-options-menu {
  min-width: 16rem;
}
