.design-studio-text-property-element {
  &.font-sans {
    font-family: var(--font-family-sans);
  }

  &.font-serif {
    font-family: var(--font-family-serif);
  }

  &.font-mono {
    font-family: var(--font-family-mono);
  }
}
