.color-selection-menu-item .icon {
  width: 17px;
  height: 17px;
  border-radius: 9px;
  border-width: 1px;
  border-style: solid;
}

.color-selection-menu-item .icon.color-default {
  border-color: var(--borderNeutralSubtle);
}

.color-selection-menu-item .icon.color-blue {
  border-color: var(--blue7);
  background-color: var(--blue6);
}

.color-selection-menu-item .icon.color-cyan {
  border-color: var(--cyan7);
  background-color: var(--cyan6);
}

.color-selection-menu-item .icon.color-red {
  border-color: var(--red7);
  background-color: var(--red6);
}

.color-selection-menu-item .icon.color-pink {
  border-color: var(--pink7);
  background-color: var(--pink6);
}

.color-selection-menu-item .icon.color-purple {
  border-color: var(--purple7);
  background-color: var(--purple6);
}

.color-selection-menu-item .icon.color-green {
  border-color: var(--green7);
  background-color: var(--green6);
}

.color-selection-menu-item .icon.color-orange {
  border-color: var(--orange7);
  background-color: var(--orange6);
}

.color-selection-menu-item .icon.color-yellow {
  border-color: var(--yellow7);
  background-color: var(--yellow6);
}

.color-selection-menu-item .icon.color-brown {
  border-color: var(--brown7);
  background-color: var(--brown6);
}

.color-selection-menu-item .icon.color-gray {
  border-color: var(--gray7);
  background-color: var(--gray6);
}
