.content-list-item > .list-item {
  border-radius: var(--radiusMd);
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  padding-right: 2px;
}

.content-list-item > .list-item:hover,
.content-list-item > .list-item.hovering {
  background-color: var(--bgNeutralHover);
}

.content-list-item > .list-item:active,
.content-list-item > .list-item.active {
  background-color: var(--bgNeutralActive);
}

.content-list-item > .list-item.active:hover {
  background-color: var(--bgNeutralActiveHover);
}

/* Toggle button */

.content-list-item .toggle-button {
  padding-left: 3px;
  margin-right: -3px;
}

.content-list-item .toggle-button .icon {
  height: 24px;
  fill: var(--neutral8);
}

.content-list-item .toggle-button[data-state='open'] .toggle-icon {
  transform: rotate(90deg);
}

.content-list-item .toggle-button .toggle-icon.has-children {
  fill: var(--neutral9);
}

/* Icon */

.content-list-item > .list-item .item-icon .icon,
.content-list-item > .list-item .item-icon .content-icon {
  color: var(--textNeutralLight);
}

.content-list-item > .list-item:hover > .item-icon .icon,
.content-list-item .list-item.hovering > .item-icon .icon,
.content-list-item.active .list-item > .item-icon .icon {
  fill: var(--textNeutral);
}

/* Label */

.content-list-item .label-button {
  flex: 1;
  height: 24px;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding-left: 4px;
}

.content-list-item .label {
  padding-right: 6px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 24px;
}

.content-list-item > .list-item:hover .text,
.content-list-item > .list-item.hovering .text,
.content-list-item.active .list-item .text,
.content-list-item.hovering .list-item .text {
  color: var(--textPrimary);
}

.content-list-item > .list-item.active .label {
  font-weight: var(--fwSemibold);
}

/* Actions */

.content-list-item > .list-item .actions {
  opacity: 0;
}

.content-list-item > .list-item:hover .actions,
.content-list-item > .list-item.hovering .actions {
  opacity: 1;
}
