.item-type-properties-editor {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 0.75rem;

  .menu-label {
    padding-left: 1rem;
    padding-right: 1rem;

    .color-light {
      /* color: var(--text-color-regular); */
      /* font-weight: var(--weight-light); */
      /* font-size: 1rem; */
    }
  }

  .menu-item {
    margin: 0 0.5rem;
  }
}
