.confirmation-dialog-backdrop {
  position: fixed;
  min-height: 100dvh;
  inset: 0;
  background-color: black;
  opacity: 0.2;
  transition: opacity 150ms;

  /* iOS 26+: Ensure the backdrop covers the entire visible viewport. */
  @supports (-webkit-touch-callout: none) {
    position: absolute;
  }

  @media (prefers-color-scheme: dark) {
    opacity: 0.7;
  }

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
  }
}

.confirmation-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24rem;
  max-width: calc(100vw - 3rem);
  margin-top: -2rem;
  padding: 1.5rem;
  transition: all 150ms;
  border-width: 1px;

  @media (prefers-color-scheme: dark) {
    outline: 1px solid var(--color-gray-300);
  }

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
  }

  .title {
    margin-top: -0.375rem;
    margin-bottom: 0.25rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    letter-spacing: -0.0025em;
    font-weight: 500;
  }

  .message {
    margin: 0 0 1.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--color-gray-600);
  }

  .actions {
    display: flex;
    justify-content: end;
    gap: 0.5rem;
  }
}
