.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 0.5rem;
  background-color: var(--app-background-color);
}

.toolbar-panel {
  height: 2.5rem;
}

.content-panels {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  overflow: hidden;
}

.main-content {
  flex: 1;
}

.right-panel {
  width: 400px;
}

.loading-view {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fsLarge);
  font-weight: var(--fwMedium);
}

@media (prefers-color-scheme: dark) {
  .loading-view {
    background-color: hsl(200 7% 8.8%);
  }
}

.color-selection-submenu {
  min-width: 240px;
}
