.app {
  height: 100vh;
  display: flex;
}

.app .app-content {
  flex: 1;
  position: relative;
  padding: 8px;
  overflow: visible;

  .main-content {
    overflow: scroll;
    height: 100%;
    border-radius: var(--radiusLg);
    background-color: var(--gray1);
    box-shadow: var(--el2ShadowBordered);
    background-color: var(--appBackground);
  }
}

.loading-view {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fsLarge);
  font-weight: var(--fwMedium);
}

@media (prefers-color-scheme: dark) {
  .loading-view {
    background-color: hsl(200 7% 8.8%);
  }
}

.color-selection-submenu {
  min-width: 240px;
}
