.app {
  height: 100vh;
  display: flex;
}

.app .app-content {
  flex: 1;
  position: relative;
  overflow: scroll;
}

.app .app-content .app-drag-handle {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.app-drag-handle {
  height: 34px;
  width: 100%;
}

.loading-view {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fsLarge);
  font-weight: var(--fwMedium);
}

@media (prefers-color-scheme: dark) {
  .loading-view {
    background-color: hsl(200 7% 8.8%);
  }
}
