.topic-view-columns {
  display: flex;
  height: 100%;
}

.topic-view-columns .columns {
  display: grid;
  height: 100%;
  padding: 0 8px;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.topic-view-columns .column {
  display: flex;
  align-items: stretch;
}

.topic-view-columns .column-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.topic-view-columns .column-end {
  flex: 1;
  padding-top: 28px;
}

.topic-view-columns .bottom-drop-zone {
  border-radius: var(--radiusLg);
  height: 140px;
  text-align: center;
}

.topic-view-columns .column .delete-button {
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.topic-view-columns .column:hover .delete-button {
  opacity: 0.7;
}

.topic-view-columns .delete-button:hover {
  opacity: 1;
}

.topic-view-columns .bottom-drop-zone.active {
  background-color: var(--bgNeutral);
  transition: background-color 0.2s ease-in-out;
}

.topic-view-columns .spacer-drop-zone {
  height: 2px;
  padding: 13px 0;
}

.topic-view-columns .indicator {
  transition: background-color 0.2s ease-in-out;
}

.topic-view-columns .spacer-drop-zone.active .indicator {
  height: 2px;
  background-color: var(--primary10);
  pointer-events: none;
}

.topic-view-columns .vertical-drop-zone {
  padding: 28px 13px;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.topic-view-columns .vertical-drop-zone .indicator {
  width: 2px;
  pointer-events: none;
}

.topic-view-columns .vertical-drop-zone.active .indicator {
  background-color: var(--primary10);
}
