/* Canvas controls at the top right of the canvas */
.ui-canvas-toolbar {
  position: absolute;
  top: var(--space-4);
  right: var(--space-4);
  z-index: 1;
  display: flex;
  gap: var(--space-2);
}

.ui-canvas-toolbar-zoom-button {
  width: 3.375rem;
}
