.elements-tree {
  padding: var(--space-2);
  display: flex;
  flex-direction: column;
}

.elements-tree-node-chevron-trigger {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.elements-tree-node-chevron-trigger:not([data-panel-open]) .elements-tree-node-chevron {
  transform: rotate(-90deg);
}

.elements-tree-node {
  display: flex;
  align-items: center;
  gap: var(--space-2);
  padding: var(--space-1) var(--space-2);
  border-radius: var(--radius-md);
  cursor: pointer;
}

.elements-tree-node:hover {
  background-color: var(--bgNeutralHover);
}

.elements-tree-node-icon {
  width: 1rem;
  height: 1rem;
  color: var(--text-color-muted);
}

.elements-tree-node-chevron {
  width: 1rem;
  height: 1rem;
  color: var(--text-color-muted);
  transition: transform 150ms ease;
}

.elements-tree-node-chevron-placeholder {
  width: 1rem;
  height: 1rem;
}
