.emoji-picker {
  display: flex;
  flex-direction: column;
  height: 480px;
  width: 424px;
  border-radius: var(--radiusLg);
  overflow: hidden;
  padding-top: 6px;
}

.emoji-picker .toolbar {
  padding: 8px;
  background-color: var(--paper);
  align-items: center;
}

.emoji-picker .text-input {
  flex: 1;
}

.emoji-picker .nav-group {
  display: block;
  margin-top: 16px;
}

.emoji-picker .inline-results {
  margin-top: 12px;
}

.emoji-picker .nav-group .icon-button,
.emoji-picker .small-subset .icon-button {
  margin: 1px;
}

.emoji-picker .options {
  flex: 1;
  overflow-y: scroll;
}

.emoji-picker .emoji-button {
  font-size: 24px;
  padding: 2px;
  width: 32px;
}

.emoji-picker .open-skin-tone-popover-button {
  font-size: 20px;
  padding: 0;
  width: 28px;
  height: 28px;
}

.emoji-picker .skin-tone-select-popover {
  padding: 2px;
  z-index: 999;
}
