.tag {
  font-size: var(--fsTiny);
  font-weight: var(--fwMedium);
  padding: 2px 4px;
  border-radius: var(--radiusSm);
  user-select: none;
}

.tag.color-blue {
  background-color: var(--blue3);
  color: var(--blue11);
}

.tag.color-cyan {
  background-color: var(--cyan3);
  color: var(--cyan11);
}

.tag.color-red {
  background-color: var(--red3);
  color: var(--red11);
}

.tag.color-pink {
  background-color: var(--pink3);
  color: var(--pink11);
}

.tag.color-purple {
  background-color: var(--purple3);
  color: var(--purple11);
}

.tag.color-green {
  background-color: var(--green3);
  color: var(--green11);
}

.tag.color-yellow {
  background-color: var(--yellow3);
  color: var(--yellow11);
}

.tag.color-orange {
  background-color: var(--orange3);
  color: var(--orange11);
}

.tag.color-brown {
  background-color: var(--brown3);
  color: var(--brown11);
}

.tag.color-gray {
  background-color: var(--gray3);
  color: var(--gray11);
}
