.tooltip {
  background-color: var(--bgContrast);
  transform-origin: var(--radix-tooltip-content-transform-origin);
  border-radius: var(--radiusXs);
  color: var(--textContrast);
  padding: 8px;
  animation-name: scaleIn;
  animation-duration: var(--adScale);
  animation-timing-function: var(--atfScale);
  box-shadow: var(--el2Shadow);
  max-width: 200px;
}

.tooltip > .keyboard-shortcut,
.tooltip > .description {
  margin-top: 6px;
}

.tooltip > .description {
  line-height: 130%;
}
