.element-style-editor {
  .header {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding: 0.75rem 0.5rem 0.75rem 0.25rem;
    border-bottom: 1px solid var(--divider);
    margin-bottom: 0.5rem;

    .text {
      flex-grow: 1;
    }
  }
}
