.menu-item {
  --compact-height: 1.75rem;
  --regular-height: 2rem;
  --padding-horizontal: 0.5rem;

  cursor: pointer;
  outline: none;
  user-select: none;
  padding: 0 var(--padding-horizontal);
  display: flex;
  align-items: center;
  height: var(--regular-height);
  border-radius: var(--radius-md);
  column-gap: 0.5rem;
  color: var(--text-color-regular);
  font-weight: var(--weight-regular);

  &.size-compact {
    height: 1.75rem;
  }

  &:hover {
    background-color: var(--gray-3);
  }

  &:not(:has(button:hover)):active {
    background-color: var(--gray-2);
  }

  /* Active prop applied */
  &.active {
    background-color: var(--gray-3);

    &:hover {
      background-color: var(--gray-4);
    }

    &:not(:has(button:hover)):active {
      background-color: var(--gray-3);
    }
  }

  &.muted {
    color: var(--text-color-muted);
    transition: background-color 0.1s ease-in-out;
    font-weight: var(--weight-medium);

    &.active {
      color: var(--text-color-regular);
    }
  }

  &.danger {
    &:hover {
      color: var(--text-color-danger);
    }
  }

  /* Label */

  .label {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  /* Icon */

  .item-icon {
    width: 1.1rem;
    height: 1.1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    line-height: 1;
  }

  /* Submenu indicator */

  .submenu-indicator {
    height: 1rem;
    width: 1rem;
    stroke: var(--textNeutralLight);
  }

  /* Actions */

  .actions {
    opacity: 0;
    width: 0;
    overflow: hidden;
    position: absolute;
    display: flex;
    transition: opacity 0.1s ease-in-out;

    .icon {
      color: var(--text-color-muted);
    }

    column-gap: 0.25rem;
  }

  &:hover .actions {
    opacity: 1;
    width: auto;
    position: relative;
  }
}
