.primary-nav-item {
  display: flex;
  align-items: center;
  border-radius: var(--radiusMd);
  list-style: none;
  padding: 7px 6px;
  cursor: pointer;
  outline: none;
  user-select: none;
}

.primary-nav-item:hover {
  background-color: var(--bgNeutralHover);
}

.primary-nav-item:active,
.primary-nav-item.active {
  background-color: var(--bgNeutralActive);
}

.primary-nav-item.active:hover {
  background-color: var(--bgNeutralActiveHover);
}

.primary-nav-item:focus-visible {
  outline: 2px solid var(--borderPrimaryHover);
}

/* Label */

.primary-nav-item .label {
  margin-left: 6px;
}

.primary-nav-item.active .label {
  font-weight: var(--fwSemibold);
}

/* Icon */

.primary-nav-item .icon {
  height: 18px;
}

.primary-nav-item .icon {
  height: 18px;
  width: 18px;
  fill: var(--textNeutralLight);
}
