.new-database-dialog {
  display: flex;
  height: 90vh;
  width: 90vw;
  max-width: 860px;
  max-height: 660px;
  padding: 0;

  .left-column {
    width: 260px;
    border-right: 1px solid var(--divider);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: scroll;
  }

  .right-column {
    flex: 1;
    display: flex;
    flex-direction: column;

    .header {
      padding: 1rem;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .get-started {
      flex: 1;
      padding: 0 3rem;
    }

    .content {
      flex: 1;

      .description {
        padding: 0 1.5rem;
      }

      .fields {
        display: flex;
        gap: 0.5rem;
        padding: 0 1.5rem;
        width: 100%;
        margin: 1rem 0;

        .text-field {
          flex: 1;
        }
      }

      .properties {
        padding: 1.5rem 1.5rem;

        .menu-item {
          margin: 0 -0.5rem;
        }
      }
    }

    .footer {
      padding: 1rem;
      border-top: 1px solid var(--divider);
      display: flex;
      justify-content: flex-end;
      gap: 1rem;
    }
  }
}
