.design-studio {
  display: flex;
  height: 100%;
  gap: 0.5rem;

  .left-panel {
    width: 400px;
    height: 100%;
  }

  .right-panel {
    width: 400px;
    height: 100%;
  }

  .workspace {
    width: 100%;
    height: 100%;
  }
}
