.design-studio {
  display: flex;
  height: 100%;
  gap: 0.5rem;

  .elements-picker {
    width: 400px;
    height: 100%;
  }

  .design {
    width: 100%;
    height: 100%;
  }

  .elements-config {
    width: 400px;
    height: 100%;
  }

  .elements-picker {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 0.5rem;
  }

  .draggable {
    padding: 0.5rem;
    background-color: var(--bgSubtle);
    border-radius: var(--radius-md);
    cursor: grab;

    :active {
      cursor: grabbing;
    }
  }
}
