.heading-1-element {
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-tight);
  padding-top: var(--space-5);
}

.heading-2-element {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-tight);
  padding-top: var(--space-4);
}

.heading-3-element {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-tight);
  padding-top: var(--space-4);
}

.heading-1-element:first-child,
.heading-2-element:first-child,
.heading-3-element:first-child,
.heading-4-element:first-child,
.heading-5-element:first-child,
.heading-6-element:first-child {
  padding-top: 0;
}
