.topic-selection-menu-item .item {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
}

.topic-selection-menu-item .item:focus {
  background-color: var(--bgNeutralHover);
  outline: none;
}

.topic-selection-menu-item .item:active {
  background-color: var(--bgNeutralActive);
}

/* Toggle button */

.topic-selection-menu-item .toggle-button {
  height: 24px;
}

.topic-selection-menu-item .toggle-button[data-state='open'] .toggle-icon {
  transform: rotate(90deg);
}

/* Label */

.topic-selection-menu-item .label-button {
  flex: 1;
  height: 28px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.topic-selection-menu-item .label {
  padding-right: 6px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 28px;
}

/* No subtopics helper text */

.topic-selection-menu-item .helper-text {
  margin-left: 24px;
  margin-bottom: 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 28px;
}
