.invisible-text-field {
  font-family: var(--defaultFontFamily);
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  font-size: var(--fsRegular);
  color: var(--textNeutral);
  line-height: 1em;
}

.invisible-text-field::placeholder {
  color: var(--textNeutralDisabled);
}

/* Color */

.invisible-text-field.color-light {
  color: var(--textNeutralLight);
}

.invisible-text-field.color-contrast {
  color: var(--textContrast);
}

.invisible-text-field.color-contrast-light {
  color: var(--textContrastLight);
}

/* Weight */

.invisible-text-field.weight-light {
  font-weight: var(--fwLight);
}

.invisible-text-field.weight-regular {
  font-weight: var(--fwRegular);
}

.invisible-text-field.weight-medium {
  font-weight: var(--fwMedium);
}

.invisible-text-field.weight-semibold {
  font-weight: var(--fwSemibold);
}

.invisible-text-field.weight-bold {
  font-weight: var(--fwBold);
}

.invisible-text-field.weight-heavy {
  font-weight: var(--fwHeavy);
}

/* Size */

.invisible-text-field.size-tiny {
  font-size: var(--fsTiny);
}

.invisible-text-field.size-small {
  font-size: var(--fsSmall);
}

.invisible-text-field.size-regular {
  font-size: var(--fsRegular);
}

.invisible-text-field.size-large {
  font-size: var(--fsLarge);
}

.invisible-text-field.size-title {
  font-size: var(--fsTitle);
}
