:root {
  --design-studio-panel-content-width: 300px;
}

.design-studio {
  display: flex;
  height: 100%;
  gap: 0.5rem;

  .design-studio-left-panel {
    width: 300px;
    flex-shrink: 0;
    height: 100%;
  }

  .design-studio-right-panel {
    width: 300px;
    flex-shrink: 0;
    height: 100%;
  }

  .design-studio-workspace {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: var(--surface-app);
    background-image: radial-gradient(circle, var(--border-subtle) 1px, transparent 1px);
    background-size: 24px 24px;

    .toolbar {
      margin-bottom: var(--space-2);
    }

    .design-studio-workspace-design-name {
      padding: 0 var(--space-4);
      margin-bottom: var(--space-4);
    }

    .design-studio-workspace-canvas-area {
      position: relative;
      flex: 1;
      overflow: hidden;
    }
  }
}
