.view-area {
  flex: 1;
}

.view-area-split {
  display: flex;
  flex-direction: row;
}

.view-area-pane {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-width: 0;
}

.view-area-pane > :last-child {
  flex: 1;
  overflow: hidden;
}

.view-area-resize-handle {
  position: relative;
  width: 5px;
  flex-shrink: 0;
  cursor: col-resize;
}

.view-area-resize-handle::after {
  content: '';
  position: absolute;
  top: 5%;
  height: 90%;
  left: 50%;
  width: 2px;
  transform: translateX(-50%);
  background-color: transparent;
  transition: background-color 0.15s 0.3s;
}

.view-area-resize-handle:hover::after {
  background-color: var(--border-primary);
}

.view-area-pane-header {
  display: flex;
  justify-content: flex-end;
  padding: var(--space-1);
  flex-shrink: 0;
}
