.property-editor {
  background-color: var(--surface-overlay);
  border-bottom: 1px solid var(--border-default);
  box-shadow: 0 -1px 0 var(--border-default);

  .property-editor-display {
    user-select: none;
    padding: 0.75rem 1rem;
    outline: none;
    color: var(--text-muted);

    .property-editor-drag-handle {
      cursor: grab;
      margin-left: -0.25rem;

      &:active {
        cursor: grabbing;
      }
    }

    &:hover {
      color: var(--text-color-regular);
    }
  }

  .property-editor-label {
    flex-grow: 1;
  }

  .property-editor-form {
    flex-direction: column;
    gap: var(--space-3);
    padding: var(--space-5) var(--space-4);

    .property-editor-footer {
      margin: 0 -0.5rem;
    }
  }

  .field-root {
    position: relative;
  }

  .property-editor-name-hint {
    display: flex;
    align-items: center;
    gap: var(--space-1);
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(100%);
    z-index: 999;
  }
}
