.property-editor {
  border-bottom: 1px solid var(--border-default);

  .property-editor-display {
    user-select: none;
    padding: 0.75rem 1rem;

    &:hover {
      .text,
      .content-icon {
        color: var(--text-color-regular);
      }
    }
  }

  .property-editor-label {
    flex-grow: 1;
  }

  .property-editor-form {
    flex-direction: column;
    gap: var(--space-3);
    padding: var(--space-5) var(--space-4);

    .property-editor-footer {
      margin: 0 -0.5rem;
    }
  }

  .field-root {
    position: relative;
  }

  .property-editor-name-hint {
    display: flex;
    align-items: center;
    gap: var(--space-1);
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(100%);
    z-index: 999;
  }
}
