.property-editor {
  border-bottom: 1px solid var(--border-default);

  .display {
    user-select: none;
    padding: 0.75rem 1rem;

    &:hover {
      .text,
      .content-icon {
        color: var(--text-color-regular);
      }
    }
  }

  .label {
    flex-grow: 1;
  }

  .chevron-icon {
    margin-right: 4px;
  }

  .editor {
    padding: var(--space-5) var(--space-4);

    .footer {
      margin: 0 -0.5rem;
    }
  }
}
