.property-editor {
  border-bottom: 1px solid var(--divider);

  .display {
    user-select: none;
    display: flex;
    align-items: center;
    height: var(--regular-height);
    column-gap: 0.5rem;
    font-weight: var(--weight-regular);
    padding: 0.75rem 1rem;
    font-size: 0.875rem;
    color: var(--text-color-muted);

    .content-icon {
      color: var(--text-color-muted);
    }

    &:hover {
      cursor: pointer;
      color: var(--text-color-regular);

      .content-icon {
        color: var(--text-color-regular);
      }
    }
  }

  .label {
    font-weight: var(--weight-medium);
    flex-grow: 1;
  }

  .content-icon {
    width: 1rem;
    height: 1rem;
    color: var(--text-color-regular);
  }

  .chevron-icon {
    margin-right: 4px;
  }

  .editor {
    padding: 1rem;
    gap: 1rem;
    background-color: var(--neutral1);

    .footer {
      margin-left: -0.5rem;
      display: flex;

      gap: 0.25rem;
      justify-content: space-between;

      .primary-actions {
        display: flex;
        justify-content: flex-end;
        flex: 1;
        gap: 0.5rem;
      }
    }
  }
}
