.elements-palette {
  padding: var(--space-2) var(--space-2) var(--space-7);
  gap: var(--space-2);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;

  .menu-group {
    row-gap: var(--space-1);
  }
}
