/* Size */

.icon {
  width: var(--icon-size-default);
  height: var(--icon-size-default);
}

/* Color */

.icon-color-current-color {
  stroke: currentColor;
}

.icon-color-regular {
  stroke: var(--text-regular);
}

.icon-color-muted {
  stroke: var(--text-muted);
}

.icon-color-subtle {
  stroke: var(--text-subtle);
}

.icon-color-disabled {
  stroke: var(--text-disabled);
}

.icon-color-primary {
  stroke: var(--text-primary);
}

.icon-color-danger {
  stroke: var(--text-danger);
}

.icon-color-danger-muted {
  stroke: var(--text-danger-muted);
}

.icon-color-warning {
  stroke: var(--text-warning);
}

.icon-color-info {
  stroke: var(--text-info);
}

.icon-color-inherit {
  stroke: inherit;
}
