.heading-1-element {
  font-size: var(--text-xl);
  font-weight: var(--weight-semibold);
  line-height: var(--leading-tight);
  padding-top: var(--space-5);
}

.heading-2-element {
  font-size: var(--text-lg);
  font-weight: var(--weight-semibold);
  line-height: var(--leading-tight);
  padding-top: var(--space-4);
}

.heading-3-element {
  font-size: var(--text-md);
  font-weight: var(--weight-bold);
  line-height: var(--leading-tight);
  padding-top: var(--space-4);
}

.heading-1-element:first-child,
.heading-2-element:first-child,
.heading-3-element:first-child,
.heading-4-element:first-child,
.heading-5-element:first-child,
.heading-6-element:first-child {
  padding-top: 0;
}
