.light-theme {
  --button-box-shadow:
    lch(0 0 0 / 0.022) 0px 3px 6px -2px, lch(0 0 0 / 0.044) 0px 1px 1px;
}

.dark-theme {
  --button-box-shadow:
    lch(0 0 0 / 0.06) 0px 4px 4px -1px, lch(0 0 0 / 0.12) 0px 1px 1px 0px;
}

.button {
  display: inline-flex;
  align-items: center;
  font-family: var(--defaultFontFamily);
  cursor: pointer;
  background: none;
  border: none;
  font-weight: 500;
  column-gap: 0.375rem;
  border-radius: 5px;
  transition:
    background-color 0.15s,
    color 0.15s;

  .icon,
  .content-icon {
    width: 16px;
    height: 16px;
  }

  /* Size Variants */

  &.size-small {
    height: 1.5rem;
    padding: 0 0.5rem;
    font-size: 0.75rem;
    column-gap: 0.25rem;

    &.start-icon {
      padding-left: 0.375rem;
    }

    &.end-icon {
      padding-right: 0.375rem;
    }
  }

  &.size-medium {
    height: 1.75rem;
    padding: 0 0.875rem;
    font-size: 0.75rem;

    &.start-icon {
      padding-left: 0.6875rem;
    }

    &.end-icon {
      padding-left: 0.6875rem;
    }
  }

  &.size-large {
    height: 2rem;
    padding: 0 0.875rem;
    font-size: 0.8125rem;

    &.start-icon {
      padding-left: 0.6875rem;
    }

    &.end-icon {
      padding-left: 0.6875rem;
    }
  }

  /* Variant Styles */

  &.variant-text {
    color: var(--neutral11);

    &:hover {
      background-color: var(--neutral4);
      color: var(--neutral12);
      transition: none;

      .icon {
        color: var(--neutral12);
      }
    }

    &.danger-always,
    &.danger-on-hover:hover {
      color: var(--danger11);

      &:hover {
        background-color: var(--danger2);
        color: var(--danger11);
        transition: none;

        .icon {
          color: var(--danger11);
        }
      }
    }
  }

  &.variant-outlined {
    color: var(--neutral11);
    border: 0.5px solid var(--neutral7);

    &:hover {
      color: var(--neutral12);
      background-color: var(--neutral3);
      transition: none;
    }

    &.danger-always,
    &.danger-on-hover:hover {
      color: var(--danger11);
      border-color: var(--danger7);
      &:hover {
        color: var(--danger11);
        background-color: var(--danger2);
        transition: none;
      }
    }
  }

  &.variant-contained {
    color: var(--neutral11);
    border: 0.5px solid var(--neutral7);
    background-color: var(--paper);
    box-shadow: var(--button-box-shadow);

    &:hover {
      color: var(--neutral12);
      background-color: var(--neutral3);
      transition: none;
    }

    &.active {
      color: var(--neutral12);
      background-color: var(--neutral3);
    }

    &.danger-always,
    &.danger-on-hover:hover {
      color: var(--danger11);
      border-color: var(--danger7);
      &:hover {
        color: var(--danger11);
        background-color: var(--danger2);
        transition: none;
      }
    }
  }

  &.variant-primary {
    background-color: var(--primary9);
    color: var(--primary1);

    &:hover {
      background-color: var(--primary10);
      color: var(--primary1);
      transition: none;
    }

    &.danger-always,
    &.danger-on-hover:hover {
      background-color: var(--danger9);
      color: var(--danger1);

      &:hover {
        background-color: var(--danger10);
        color: var(--danger1);
        transition: none;
      }
    }
  }
}

a.button {
  text-decoration: none;
  display: inline-flex;
}
