.available-property-element {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  cursor: grab;
  background-color: var(--bgNeutral);
  border-radius: var(--radius-md);

  &:hover {
    background-color: var(--bgNeutralHover);
  }

  &:active {
    cursor: grabbing;
  }

  .content-icon {
    width: 1rem;
    height: 1rem;
    color: var(--text-color-regular);
  }
}
