.topic-view {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.topic-view .top-toolbar {
  padding: 8px;
}

.main {
  overflow-y: scroll;
  height: 100%;
}

.topic-view .header {
  display: flex;
  padding: 36px 36px 0 36px;
  align-items: center;
}

.topic-view .header .topic-title {
  flex: 1;
}

.topic-view .content {
  min-height: 100%;
}
